<!DOCTYPE html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Horaires - STE Versoix Manager</title>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav id="breadcrump" aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{/saisons}">Saisons</a>
            </li>
            <li class="breadcrumb-item active">
                <span th:text="${saison.getId()}">sid</span>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{/saisons}+'/'+${saison.getId()}+'/cours'">cours</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a th:href="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}">
                    <span th:text="${cours.getId()}">cid</span>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Horaire</li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">

    <div class="pt-4 pb-3">
        <H1 class="p-0 m-0" >Saison <span th:text="${saison.getId()}">sid</span> : <span th:text="${cours.getNom()}">Nom du cours</span></H1>
    </div>

    <ul id="tabs" class="nav nav-tabs">
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('TIREUR')}">
            <a class="nav-link " th:href="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}">
                <i class="fa fa-columns" aria-hidden="true"></i>  Résumé</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}+'/presences'">
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>  Présences</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('TIREUR')}">
            <a class="nav-link active" th:href="${linkHoraire}">
                <i class="fa fa-clock-o" aria-hidden="true"></i>  Horaires</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link  " th:href="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}+'/resultats'">
                <i class="fa fa-calculator" aria-hidden="true"></i> Résultats</a>
        </li>
    </ul>

    <div class="container pt-4 pb-3">
        <div class="pt-3 pb-3">
            <h1 class="pb-0">Horaire</h1>
        </div>
        <!--/* Horaire */-->
        <th:block th:include="cours/coursHoraireFragments :: horaire"></th:block>

        <!--/* Répartition des groupes */-->
        <th:block th:include="cours/coursHoraireFragments :: grouperepartiton"></th:block>
    </div>
</th:block>
</body>
</html>