<!DOCTYPE html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Horaires - STE Versoix Manager</title>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav id="breadcrump" aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{/saisons}">Saisons</a>
            </li>
            <li class="breadcrumb-item active">
                <span th:text="${saison.getId()}">sid</span>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{/saisons}+'/'+${saison.getId()}+'/cours'">cours</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a th:href="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}">
                    <span th:text="${cours.getId()}">cid</span>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Horaire</li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">

    <div class="pt-4 pb-3">
        <H1 class="p-0 m-0">Saison <span th:text="${saison.getId()}">sid</span> : <span th:text="${cours.getNom()}">Nom du cours</span>
        </H1>
    </div>

    <ul id="tabs" class="nav nav-tabs">
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('TIREUR')}">
            <a class="nav-link " th:href="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}">
                <i class="fa fa-columns" aria-hidden="true"></i> Résumé</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}+'/presences'">
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Présences</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('TIREUR')}">
            <a class="nav-link active" th:href="${linkHoraire}">
                <i class="fa fa-clock-o" aria-hidden="true"></i> Horaires</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link  " th:href="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}+'/resultats'">
                <i class="fa fa-calculator" aria-hidden="true"></i> Résultats</a>
        </li>
    </ul>

    <div class="container pt-4 pb-3">
        <span class="float-right"><th:block
                th:include="help/help :: modalHelp('coursHoraire')"></th:block></span>

        <form th:object="${cours}" th:action="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}+'/horaire'"
              method="post">
            <div id="dont-print">
                <div class="pt-3 pb-3">
                    <H1>Génération de l'horaire</H1>
                </div>
                <!--/* formulaire */-->
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Nom</label>
                            <div class="col-sm-6">
                                <span th:text="${cours.getNom()}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Date</label>
                            <div class="col-sm-6">
                                <span th:text="${#dates.format(cours.getDateCours(),'dd.MM.yyyy')}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Lieu</label>
                            <div class="col-sm-6">
                                <span th:text="${cours.getLieu()}"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-8">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">Heure début</label>
                                    <div class="col-sm-6">
                                        <input th:field="*{heureDebut}" th:value="${cours.getHeureDebut()}" type="time"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">Heure fin</label>
                                    <div class="col-sm-6">
                                        <input th:field="*{heureFin}" th:value="${cours.getHeureFin()}" type="time"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">Temps de pause</label>
                                    <div class="col-sm-6">
                                        <input th:field="*{tempsPause}" th:value="${cours.getTempsPause()}"
                                               type="number" min="0" max="60"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">Temps de nettoyage</label>
                                    <div class="col-sm-6">
                                        <input th:field="*{tempsNettoyage}" th:value="${cours.getTempsNettoyage()}"
                                               type="number" min="0"
                                               max="60" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--/* liste des postes */-->
                <label>Postes du cours</label>
                <div th:if="${#lists.size(cours?.getPostes()) > 0}">
                    <ul>
                        <li th:each="pos : ${cours?.getPostes()}" th:text="${pos.getNom()}"></li>
                    </ul>
                </div>


                <!-- RG 04 - Nombre de postes minimum -->
                <div th:if="${#lists.size(cours?.getPostes())} &lt; ${minPoste}" class="text-danger"
                     role="alert">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                    <span th:text="'Vous devez sélectionner au moins '+ ${minPoste} +' postes pour générer le planing.'"></span>
                    <!-- TODO : ajouter RG -->
                    <a th:if="${cours.isCoursEditable()}"
                       th:href="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}+'/edit'">
                        <i class="fa fa-pencil" aria-hidden="true"></i> Éditer le cours.</a>
                </div>

                <!--/* RG 04 - Nombre de postes minimum */-->
                <div th:if="${#lists.size(cours?.getPostes())} &gt;= ${minPoste}" class="pt-3 pb-3">
                    <button class="btn btn-primary contact-btn" type="submit">
                        <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Générer horaire
                    </button>
                </div>
            </div>
            <th:block th:if="${#lists.size(cours?.getPostes())} &gt;= ${minPoste}">
                <!--/* Horaire */-->
                <th:block th:include="cours/coursHoraireFragments :: horaire"></th:block>

                <!--/* Répartition des groupes */-->
                <th:block th:include="cours/coursHoraireFragments :: grouperepartiton"></th:block>
            </th:block>
        </form>
    </div>
</th:block>
</body>
</html>