<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      class="no-js"
      lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Horaires - STE Versoix Manager</title>
</head>
<body>
<th:block th:fragment="horaire">
    <th:block th:if="${#lists.size(tranchesHoraires) &gt; 0}">
        <div class="pb-3">
            <div class="text-right">
                <button class="btn btn-outline-primary contact-btn" type="submit" id="btnimprimer">
                    <i class="fa fa-print" aria-hidden="true"></i></button>
            </div>
            <div class="pt-3 pb-3">
                <h5 class="pb-0">Horaire</h5>
            </div>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th class="text-center" scope="col"></th>
                    <th:block th:each="poste : ${postes}">
                        <th class="text-center" th:text="${poste.getNom()}"></th>
                    </th:block>
                </tr>
                </thead>
                <tbody>
                <tr th:each="th: ${tranchesHoraires}">
                    <td class="text-center">
                        <span th:text="${#dates.format(th.getHeureDebut(),'HH:mm')}"/> - <span
                            th:text="${#dates.format(th.getHeureFin(), 'HH:mm')}"/>
                    </td>
                    <th:block th:each="poste : ${postes}">
                        <td class="text-center">
                            <span th:text="${th.getGroupeWithPoste().get(poste)?.getNom()}"></span>
                        </td>
                    </th:block>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>
    <th:block th:unless="${#lists.size(tranchesHoraires) &gt; 0}">
        <td th:colspan="${#lists.size(postes)+1}">
            <div class="text-danger" role="alert">
                <i class="fa fa-times-circle" aria-hidden="true"></i>  Les horaires n'ont pas encore
                été générés.
            </div>
        </td>
    </th:block>
</th:block>
<th:block th:fragment="grouperepartiton">
    <th:block th:if="${#lists.size(tranchesHoraires) &gt; 0}">
        <div class="pt-3 pb-3">
            <h5 class="pb-0">Répartition des groupes</h5>
        </div>
        <div class="row">
            <th:block th:if="${groupes != null and #lists.size(groupes) &gt; 0}">
                <div class="col-md-6 col-sm-6 col-xs-6" th:each="groupe : ${groupes}">
                    <ul class="list-group">
                        <li class="list-group-item text-center active" th:text="${groupe.getNom()}"></li>
                        <div th:each="part:${groupe.getParticipants()}">
                            <th:block th:if="${part.getGroupe()?.getNom() == groupe.getNom()}">
                                <th:block th:if="${part.getInscrit().getTireur().getId() == user.getId()}">
                                    <li class="list-group-item bg-secondary text-white"
                                        th:text="${part.getInscrit().getTireur().getFullName()}"></li>
                                </th:block>
                                <th:block th:unless="${part.getInscrit().getTireur().getId() == user.getId()}">
                                    <li class="list-group-item"
                                        th:text="${part.getInscrit().getTireur().getFullName()}"></li>
                                </th:block>
                            </th:block>
                        </div>
                        <div th:unless="${#lists.size(groupe.getParticipants()) &gt; 0}" class="text-danger"
                             role="alert">
                            <li class="list-group-item"><i class="fa fa-times-circle"
                                                           aria-hidden="true"></i> Il
                                n'y a pas de participants.
                            </li>
                        </div>
                    </ul>
                </div>
            </th:block>
        </div>
        <div th:unless="${groupes == null or #lists.size(groupes) &gt; 0}">
            <div class="text-danger" role="alert">
                <i class="fa fa-times-circle" aria-hidden="true"></i>  Les groupes ne sont pas encore
                générés.
            </div>
        </div>
    </th:block>
</th:block>
</body>
</html>