<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Détails du cours - STE Versoix Manager</title>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{/saisons}">Saisons</a>
            </li>
            <li class="breadcrumb-item active">
                <span th:text="${saison.getId()}">sid</span>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{/saisons}+'/'+${saison.getId()}+'/cours'">cours</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                    <span th:text="${cours.getId()}">cid</span>
            </li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <div class="pt-4 pb-3">
        <H1>Saison <span th:text="${saison.getId()}">sid</span>: <span th:text="${cours.getNom()}">Nom du cours</span></H1>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#" th:if="${#httpServletRequest.isUserInRole('TIREUR')}">
                <i class="fa fa-columns" aria-hidden="true"></i>  Résumé</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}+'/presences'">
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>  Présences</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('TIREUR')}">
            <a class="nav-link" th:href="${linkHoraire}">
                <i class="fa fa-clock-o" aria-hidden="true"></i>  Horaires</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link  " th:href="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}+'/resultats'">
                <i class="fa fa-calculator" aria-hidden="true"></i> Résultats</a>
        </li>
    </ul>

    <div class="container pt-3 pb-3">
        <form th:object="${cours}" method="get">
            <div class="pt-3 pb-3 row">
                <h1 class="col-sm-10">Détails du cours</h1>

                <div class="text-right col-sm-2" th:if="${#httpServletRequest.isUserInRole('MONITEUR')} and ${cours?.isCoursEditable()}">
                    <button class="btn btn-primary contact-btn" type="submit" th:formaction="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}+'/edit'">
                        <i class="fa fa-edit" aria-hidden="true"></i>  Modifier</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="border rounded pt-3 pb-3 pl-3 pr-3">
                        <div class="form-group row m-0">
                            <label class="col-sm-6">Nom</label>
                            <div class="col-sm-6">
                                <span th:text="${cours?.getNom()}"/>
                            </div>
                        </div>

                        <div class="form-group row m-0">
                            <label class="col-sm-6">Lieu</label>
                            <div class="col-sm-6">
                                <span th:text="${cours?.getLieu()}" />
                            </div>
                        </div>

                        <div class="form-group row m-0">
                            <label class="col-sm-6">Date</label>
                            <div class="col-sm-6">
                                <span th:text="${#dates.format(cours?.getDateCours(),'dd.MM.yyyy')}" />
                            </div>
                        </div>

                        <div class="form-group row m-0">
                            <label class="col-sm-6">Heure de début</label>
                            <div class="col-sm-6">
                                <span th:text="${#dates.format(cours?.getHeureDebut(),'HH:mm')}" />
                            </div>
                        </div>

                        <div class="form-group row m-0">
                            <label class="col-sm-6">Heure de fin</label>
                            <div class="col-sm-6">
                                <span th:text="${#dates.format(cours?.getHeureFin(),'HH:mm')}" />
                            </div>
                        </div>

                        <div class="form-group row m-0">
                            <label class="col-sm-6">Temps de nettoyage</label>
                            <div class="col-sm-6">
                                <span th:text="${cours?.getTempsNettoyage()}+' minutes'"/>
                            </div>
                        </div>

                        <div class="form-group row m-0">
                            <label class="col-sm-6">Temps de pause</label>
                            <div class="col-sm-6">
                                <span th:text="${cours?.getTempsPause()}+' minutes'"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="border rounded pt-3 pb-3 pl-3 pr-3">
                        <H5>Postes</H5>
                        <div th:each="pos : ${cours?.getPostes()}">
                            <ul class="mt-0 mb-0 pt-0 pb-0">
                                <li th:text="${pos.getNom()}"></li>
                            </ul>
                        </div>
                        <label class="text-danger" th:if="${cours?.getPostes()==null} OR ${cours?.getPostes().isEmpty()}">
                            Ce cours ne possède aucun poste.
                        </label>
                        <h5 class="pt-3">Programmes</h5>
                        <div th:each="prog : ${cours?.getProgrammesAnnee()}">
                            <ul class="mt-0 mb-0 pt-0 pb-0">
                                <li>
                                    <a th:text="${prog.toString()}" th:href="'/saisons/'+${saison.getId()}+'/programmes/'+${prog.getId()}+'/detail'" data-toggle="tooltip" data-placement="top" th:title="'Description : '+${prog.getProgramme().getDesc()}"></a>
                                </li>
                            </ul>
                        </div>
                        <label class="text-danger" th:if="${cours?.getProgrammesAnnee()}==null OR ${cours?.getProgrammesAnnee().isEmpty()}">
                            Ce cours ne possède aucun programme.
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</th:block>
</body>
</html>