<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Gestion des résultats - STE Versoix Manager</title>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{/saisons}">Saisons</a>
            </li>
            <li class="breadcrumb-item active">
                <span th:text="${saison.getId()}">sid</span>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{/saisons}+'/'+${saison.getId()}+'/cours'">cours</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a th:href="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}">
                    <span th:text="${cours.getId()}">cid</span>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Presences</li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <div class="pt-4 pb-3">
        <H1>Saison <span th:text="${saison.getId()}">sid</span> : <span th:text="${cours.getNom()}">Nom du cours</span></H1>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('TIREUR')}">
            <a class="nav-link " th:href="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}">
                <i class="fa fa-columns" aria-hidden="true"></i> Résumé</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}+'/presences'">
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Présences</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('TIREUR')}">
            <a class="nav-link" th:href="${linkHoraire}">
                <i class="fa fa-clock-o" aria-hidden="true"></i> Horaires</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link active" th:href="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}+'/resultats'">
                <i class="fa fa-calculator" aria-hidden="true"></i> Résultats</a>
        </li>
    </ul>
    <div class="container pt-3 pb-3">
        <span class="float-right"><th:block
                th:include="help/help :: modalHelp('gestionResultats')"></th:block></span>

        <div th:if="${#lists.isEmpty(participants.participantList)}" class="p-2 m-2 bg-warning text-dark rounded">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Vous devez remplir la fiche de présences
            avant de gérer les résultats.
        </div>
        <th:block th:if="${not #lists.isEmpty(participants.participantList)}">
            <div class="pt-4 pb-3">
                <h1>Résultats</h1>
            </div>
            <form method="post" id="presencesForm"
                  th:action="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}+'/resultats'">

                <table class="table table-bordered table-hover table-striped" id="tabPresences">
                    <thead>
                    <tr>
                        <th scope="col">Participant</th>
                        <th scope="col">Total Obtenu / Total Max</th>
                        <th scope="col">Munitions Supplémentaires</th>
                    </tr>
                    </thead>
                    <tbody id="presencesContainer">
                    <div th:each="participant,status : ${participants.participantList}">
                        <tr>
                            <td>
                                <span th:text="*{participant.getInscrit().getTireur().getFullName()}">Nom Prénom</span>
                                <input type="hidden" th:name="|participantList[${status.index}].id|" th:value="*{participant.getId()}"/>
                            </td>

                            <th:block
                                    th:unless="*{cours.getProgramme(participant.getInscrit().getAnnee()).isPresent()}">
                                <td colspan="2">
                                    <div th:unless="*{cours.getProgramme(participant.getInscrit().getAnnee()).isPresent()}"
                                         class="p-1 bg-warning text-dark rounded">
                                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Aucun programme
                                        défini pour l'année   <span th:text="${participant.getInscrit().getAnnee().getNom()}"></span>.
                                        <a th:if="${cours.isCoursEditable()}
                                                                 and ${#httpServletRequest.isUserInRole('MONITEUR')}"
                                                                 th:href="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}+'/edit'">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>  Ajouter des programmes ?</a>
                                    </div>
                                </td>
                            </th:block>
                            <th:block th:if="*{cours.getProgramme(participant.getInscrit().getAnnee()).isPresent()}">
                                <td>
                                    <fieldset>
                                        <input class="col form-control" placeholder="" type="text"
                                               th:name="|participantList[${status.index}].totalObtenu|"
                                               th:value="*{participant.getTotalObtenu()}"
                                        />
                                        <span class="col" th:text="|/ *{cours.getProgramme(participant.getInscrit().getAnnee()).get().calculTotalPoints()}|"></span>
                                    </fieldset>
                                </td>
                                <td>
                                    <fieldset>
                                        <input class="form-control" placeholder="" type="text"
                                               th:name="|participantList[${status.index}].nbMunitionsSupplementaires|"
                                               th:value="*{participant.getNbMunitionsSupplementaires()}"/>
                                    </fieldset>
                                </td>
                            </th:block>
                        </tr>
                    </div>
                    </tbody>
                </table>
                <div class="pt-3 pb-3">
                    <button class="btn btn-primary contact-btn" type="submit"
                            th:if="${#httpServletRequest.isUserInRole('MONITEUR')}"
                            th:unless="${saison.isSaisonFinished()}">
                        Enregistrer
                    </button>
                </div>
            </form>
        </th:block>
    </div>
</th:block>
</body>
</html>