<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Gestion des inscrits - STE Versoix Manager</title>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav id="breadcrump" aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/saisons}">Saisons</a></li>
            <!--<li class="breadcrumb-item"><a th:href="@{/saisons}+'/'+${saison.getId()}">inscriptions</a></li>-->
            <li class="breadcrumb-item active"><span th:text="${saison.getId()}"/></li>
            <li class="breadcrumb-item active" aria-current="page">inscriptions</li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <ul id="tabs" class="nav nav-tabs">
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}">
                <i class="fa fa-columns" aria-hidden="true"></i> Résumé</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <i class="fa fa-address-card-o" aria-hidden="true"></i> Inscriptions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/cours'">
                <i class="fa fa-calendar" aria-hidden="true"></i> Cours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/concours'">
                <i class="fa fa-trophy" aria-hidden="true"></i>  Concours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/programmes'">
                <i class="fa fa-tasks" aria-hidden="true"></i> Programmes</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/attributionarme'">
                <i class="fa fa-rebel" aria-hidden="true"></i> Attribution d'armes</a>
        </li>
    </ul>

    <div class="pt-4 pb-3">
        <h1>Inscriptions</h1>
    </div>
    <div class="mx-auto" style="width: 95%;">
        <form method="get">
            <button class="btn btn-primary contact-btn" type="submit"
                    th:formaction="'/saisons/'+${saison.getId()}+'/inscrits/add'">Gérer les inscriptions
            </button>
            <button class="btn btn-outline-primary contact-btn float-right" type="submit" id="btnimprimer">
                <i class="fa fa-print" aria-hidden="true"></i></button>
        </form>

        <div class="row">
            <div class="col">
                <div class="border rounded mt-3 mb-3">
                    <div class="p-3">
                        <!-- Liste des jeunes tireurs inscrit à la saisons courante -->
                        <h5 th:text="|Jeunes tireurs (${JTinscrits.size()})|"></h5>
                        <table class="table table-sm table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Nom Prénom</th>
                                <th scope="col">Année</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="insJT : ${JTinscrits}">
                                <td>
                                    <a th:href="@{/jeunestireurs}+'/'+${insJT.getTireur().getId()}+'/details'">
                                        <span th:text="${insJT.getTireur().getFullName()}"></span>
                                    </a>
                                </td>
                                <td th:text="${insJT.getAnnee()?.getNom()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="border rounded mt-3 mb-3">
                    <div class="p-3">
                        <!-- Liste des moniteurs inscrit à la saisons courante -->
                        <h5 th:text="|Moniteurs (${MONinscrits.size()})|"></h5>
                        <table class="table table-sm table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Nom Prénom</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="insMON : ${MONinscrits}">
                                <td>
                                    <a th:href="@{/moniteurs}+'/'+${insMON.getTireur().getId()}+'/details'">
                                        <span th:text="${insMON.getTireur().getFullName()}"></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span th:text="${erreurs}" th:style="'color:red'"/>
</th:block>
</body>
</html>