<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Gestion des présences - STE Versoix Manager</title>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav id="breadcrump" aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{/saisons}">Saisons</a>
            </li>
            <li class="breadcrumb-item active">
                <span th:text="${saison.getId()}">sid</span>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{/saisons}+'/'+${saison.getId()}+'/cours'">cours</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a th:href="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}">
                    <span th:text="${cours.getId()}">cid</span>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Presences</li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <div class="pt-4 pb-3">
        <H1>Saison <span th:text="${saison.getId()}">sid</span> : <span th:text="${cours.getNom()}">Nom du cours</span></H1>
    </div>

    <ul id="tabs" class="nav nav-tabs">
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('TIREUR')}">
            <a class="nav-link " th:href="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}">
                <i class="fa fa-columns" aria-hidden="true"></i> Résumé</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link active" th:href="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}+'/presences'">
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Présences</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('TIREUR')}">
            <a class="nav-link" th:href="${linkHoraire}">
                <i class="fa fa-clock-o" aria-hidden="true"></i>  Horaires</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link  " th:href="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}+'/resultats'">
                <i class="fa fa-calculator" aria-hidden="true"></i> Résultats</a>
        </li>
    </ul>

    <div class="container pt-4 pb-3">
        <span class="float-right"><th:block
                th:include="help/help :: modalHelp('gestionPresences')"></th:block></span>
        <div class="pt-3 pb-3">
            <h1>Présences</h1>
        </div>
        <div class="pt-4">
            <h4>Jeunes Tireurs</h4>
        </div>

        <div id="dont-print">
            <form method="post" id="presencesFormJT"
                  th:action="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}+'/presences/add'">
                <table class="table table-bordered table-hover table-striped table-sm" id="tabPresences">
                    <thead>
                    <tr>
                        <th class="text-center" scope="col">Nom</th>
                        <th class="text-center" scope="col">Prénom</th>
                        <th class="text-center" scope="col">Année</th>
                        <th class="text-center" scope="col">État</th>
                        <th scope="col">Remarque</th>
                    </tr>
                    </thead>
                    <tbody id="presencesContainer">
                    <div th:each="participant,status : ${participantsJT.participantList}">
                        <tr th:switch="${user.role}">
                            <td class="text-center">
                                <span th:text="*{participant.getInscrit().getTireur().getNom()}">Nom</span>
                            </td>
                            <td class="text-center">
                                <span th:text="*{participant.getInscrit().getTireur().getPrenom()}">Prenom</span>
                            </td>
                            <td class="text-center">
                                <span th:text="*{participant.getInscrit().getAnnee().getNom()}">Année</span>
                            </td>
                            <td>
                                <div class="btn-group" th:switch="${participant.getEtat()}">
                                    <button th:case="0" type="button" class="btn btn-success">Présent</button>
                                    <button th:case="1" type="button" class="btn btn-warning">Excusé</button>
                                    <button th:case="2" type="button" class="btn btn-info">En Retard</button>
                                    <button th:case="3" type="button" class="btn btn-danger">Absent</button>
                                    <button th:case="4" type="button" class="btn btn-light">Indéfini</button>

                                    <div th:if="${cours.isCoursEditable()}">
                                        <button type="button"
                                                class="btn btn-light dropdown-toggle dropdown-toggle-split"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a th:unless="${participant.getEtat() == 0}" class="dropdown-item"
                                               th:href="@{/saisons/__${saison.getId()}__/cours/__${cours.getId()}__/presences/etat(p=__${participant.getId()}__,state=0)}">Présent</a>
                                            <a th:unless="${participant.getEtat() == 1}" class="dropdown-item"
                                               th:href="@{/saisons/__${saison.getId()}__/cours/__${cours.getId()}__/presences/etat(p=__${participant.getId()}__,state=1)}">Excusé</a>
                                            <a th:unless="${participant.getEtat() == 2}" class="dropdown-item"
                                               th:href="@{/saisons/__${saison.getId()}__/cours/__${cours.getId()}__/presences/etat(p=__${participant.getId()}__,state=2)}">En Retard</a>
                                            <a th:unless="${participant.getEtat() == 3}" class="dropdown-item"
                                               th:href="@{/saisons/__${saison.getId()}__/cours/__${cours.getId()}__/presences/etat(p=__${participant.getId()}__,state=3)}">Absent</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <fieldset disabled="disabled">
                                    <input class="form-control" placeholder="" type="text"
                                           th:value="*{participant.getRemarque()}"/>
                                </fieldset>
                            </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
                <label class="text-danger"
                       th:if="${participantsJT}==null OR ${participantsJT.getParticipantList().isEmpty()}">
                    La saison ne contient aucun jeune tireur inscrit.
                </label>
            </form>
            <div class="pt-4">
                <h4>Moniteurs</h4>
            </div>

            <form method="post" id="presencesFormMON"
                  th:action="'/saisons/'+${saison.getId()}+'/cours/'+${cours.getId()}+'/presences/add'">
                <table class="table table-bordered table-hover table-striped table-sm" id="tabPresences">
                    <thead>
                    <tr>
                        <th class="text-center" scope="col">Nom</th>
                        <th class="text-center" scope="col">Prénom</th>
                        <th class="text-center" scope="col">État</th>
                        <th scope="col">Remarque</th>
                    </tr>
                    </thead>
                    <tbody id="presencesContainer">
                    <div th:each="participantM,status : ${participantsMON.participantList}">
                        <tr th:switch="${user.role}">
                            <td class="text-center">
                                <span th:text="*{participantM.getInscrit().getTireur().getNom()}">Nom</span>
                            </td>
                            <td class="text-center">
                                <span th:text="*{participantM.getInscrit().getTireur().getPrenom()}">Prenom</span>
                            </td>
                            <td>
                                <div class="btn-group" th:switch="${participantM.getEtat()}">
                                    <button th:case="0" type="button" class="btn btn-success">Présent</button>
                                    <button th:case="1" type="button" class="btn btn-warning">Excusé</button>
                                    <button th:case="2" type="button" class="btn btn-info">En Retard</button>
                                    <button th:case="3" type="button" class="btn btn-danger">Absent</button>
                                    <button th:case="4" type="button" class="btn btn-light">Indéfini</button>

                                    <div th:if="${cours.isCoursEditable()}">
                                        <button type="button"
                                                class="btn btn-light dropdown-toggle dropdown-toggle-split"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a th:unless="${participantM.getEtat() == 0}" class="dropdown-item"
                                               th:href="@{/saisons/__${saison.getId()}__/cours/__${cours.getId()}__/presences/etat(p=__${participantM.getId()}__,state=0)}">Présent</a>
                                            <a th:unless="${participantM.getEtat() == 1}" class="dropdown-item"
                                               th:href="@{/saisons/__${saison.getId()}__/cours/__${cours.getId()}__/presences/etat(p=__${participantM.getId()}__,state=1)}">Excusé</a>
                                            <a th:unless="${participantM.getEtat() == 2}" class="dropdown-item"
                                               th:href="@{/saisons/__${saison.getId()}__/cours/__${cours.getId()}__/presences/etat(p=__${participantM.getId()}__,state=2)}">En Retard</a>
                                            <a th:unless="${participantM.getEtat() == 3}" class="dropdown-item"
                                               th:href="@{/saisons/__${saison.getId()}__/cours/__${cours.getId()}__/presences/etat(p=__${participantM.getId()}__,state=3)}">Absent</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <fieldset disabled="disabled">
                                    <input class="form-control" placeholder="" type="text"
                                           th:value="*{participantM.getRemarque()}"/>
                                </fieldset>
                            </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
                <label class="text-danger"
                       th:if="${participantsMON}==null OR ${participantsMON.getParticipantList().isEmpty()}">
                    La saison ne contient aucun moniteur inscrit.
                </label>
            </form>
        </div>
        <div>
            <div class="pt-4">
                <H4>Absences annoncées</H4>
            </div>
            <div class="text-right">
                <button class="btn btn-outline-primary contact-btn" type="submit" id="btnimprimer">
                    <i class="fa fa-print" aria-hidden="true"></i></button>
            </div>

            <div class="pt-3 pb-3">
                <table class="table table-bordered table-hover table-striped table-sm" id="tableAbsence">
                    <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Motif de l'absence</th>
                    </tr>
                    </thead>
                    <tbody id="absences">
                        <div th:each="absence : ${absences}">
                            <tr>
                                <td>
                                    <span th:text="${absence.getTireur().getNom()}">Nom</span>
                                </td>
                                <td>
                                    <span th:text="*{absence.getTireur().getPrenom()}">Prenom</span>
                                </td>
                                <td>
                                    <span th:text="*{absence.getMotif()}">Motif de l'absence</span>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
                <label class="text-danger" th:if="${absences}==null OR ${absences.isEmpty()}">
                    Aucune absence annoncées pour ce cours.
                </label>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>