<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Fiche prévenir d'une absence - STE Versoix Manager</title>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/saisons}">Saisons</a></li>
            <li class="breadcrumb-item active"><span th:text="${idSaison}"/></li>
            <li class="breadcrumb-item"><a th:href="@{/saisons}+'/'+${saison.getId()}+'/cours'">Cours</a></li>
            <li class="breadcrumb-item active"><span th:text="${cours.getId()}"/></li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <div class="container pb-3 pt-3">
        <form th:object="${absence}" th:action="@{/saisons}+'/'+${saison.getId()}+'/cours/'+${cours.getId()}+'/prevenirabsence'" method="post">
            <h1><span th:text="'Prevenir d\'une absence'"/></h1>

            <span class="float-right"><th:block
                    th:include="help/help :: modalHelp('prevenirAbsence')"></th:block></span>

            <div class="pt-3 pb-3 col-sm-6">
                <div class="form-group row m-0">
                    <label class="col-sm-6">Nom</label>
                    <div class="col-sm-6">
                        <span th:text="${cours?.getNom()}"/>
                    </div>
                </div>

                <div class="form-group row m-0">
                    <label class="col-sm-6">Lieu</label>
                    <div class="col-sm-6">
                        <span th:text="${cours?.getLieu()}" />
                    </div>
                </div>

                <div class="form-group row m-0">
                    <label class="col-sm-6">Date</label>
                    <div class="col-sm-6">
                        <span th:text="${#dates.format(cours?.getDateCours(),'dd.MM.yyyy')}" />
                    </div>
                </div>

                <div class="pb-3 pt-3">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <textarea class="txtArea form-control" rows="10" cols="50" th:field="*{motif}"></textarea>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary contact-btn">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Valider
                </button>
            </div>
            <div>
                <span th:text="${erreurs}" th:style="'color:red'" />
            </div>
        </form>
    </div>
</th:block>
</body>
</html>