@media print {
    #header, #breadcrump, #footer, #tabs, #dont-print, .btn {
        display: none;
    }
    body {
        <!--  -->
        width: 100%;
        margin-right: -1cm;
        margin-left: -1cm;
        color:black;
    }
    h1, h3 {
        font-size: 2em;
        color:black;
        text-align: center;
        padding-bottom: 0.5cm;
    }
    h5 {
        text-align: center;
    }
    a {
        color:black;
    }
}