<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>STE Versoix Manager</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!--<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}"  />-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/jtv.css}"/>
    <link rel="stylesheet" type="text/css" media="print" th:href="@{/assets/css/jtvprint.css}"/>

</head>
<body>
<!--Nav-->
<div th:replace="fragments/nav :: nav"></div>
<div id="jtvbreadcrump" layout:fragment="breadcrump"></div>
<!--Flash-->
<section id="flash" class="flash" th:fragment="flash">

    <div th:if="${messages instanceof T(java.util.List)}">
        <th:block th:each="message: ${messages}" th:include="fragments/flash :: flash">
        </th:block>
    </div>
    <th:block th:if="${message instanceof T(ch.steversoix.jtv.desktop.outils.FlashMessage)}"
              th:include="fragments/flash :: flash">
    </th:block>
</section>

<!--Content-->
<div class="pt-3 pb-5 pr-5 pl-5">
    <div layout:fragment="content">
        <p>Content goes here...</p>
    </div>
</div>

<!--Footer-->
<div th:replace="fragments/footer :: footer"></div>

<!-- Optional JavaScript -->
<!-- Mise en place de JQuery et JQuery mobile --><!--
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/jquery-mobile-theme/jtv_theme_v0.1.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/jquery-mobile-theme/jquery.mobile.icons.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/jquery.mobile.structure-1.4.5.min.css}" />

        <script th:src="@{/assets/js/jquery.mobile-1.4.5.min.js}"></script>

        <script th:src="@{/assets/js/jquery-2.1.1.min.js}"></script>

        -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script th:src="@{/assets/js/print.js}"></script>
    <script th:src="@{/assets/js/infoBulle.js}"></script>
</body>
</html>
