<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Ajout d'un inscrit - JTV</title>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav id="breadcrump" aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/saisons}">Saisons</a></li>
            <!--<li class="breadcrumb-item"><a th:href="@{/saisons}+'/'+${saison.getId()}">inscriptions</a></li>-->
            <li class="breadcrumb-item active"><span th:text="${saison.getId()}"/></li>
            <li class="breadcrumb-item active" aria-current="page"><a
                    th:href="@{/saisons}+'/'+${saison.getId()}+'/inscrits'">inscriptions</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ajout</li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <ul id="tabs" class="nav nav-tabs">
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}">
                <i class="fa fa-columns" aria-hidden="true"></i> Résumé</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <i class="fa fa-address-card-o" aria-hidden="true"></i> Inscriptions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/cours'">
                <i class="fa fa-calendar" aria-hidden="true"></i> Cours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/concours'">
                <i class="fa fa-trophy" aria-hidden="true"></i> Concours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/programmes'">
                <i class="fa fa-tasks" aria-hidden="true"></i> Programmes</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/attributionarme'">
                <i class="fa fa-rebel" aria-hidden="true"></i> Attribution d'armes</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/statistique'">
                <i class="fa fa-calculator" aria-hidden="true"></i> Statistique</a>
        </li>
    </ul>

    <div id="dont-print" class="pt-4 pt-3">
        <H1>Gestion des inscrits</H1>
    </div>

    <span class="float-right">
    <button class="btn btn-outline-primary contact-btn float-right" type="submit" id="btnimprimer">
        <i class="fa fa-print" aria-hidden="true"></i></button> <th:block
        th:include="help/help :: modalHelp('gestionInscrits')"></th:block>

    </span>

    <div class="pt-4 pt -3">
        <div class="container">
            <div class="row">
                <div id="dont-print" class="col">
                    <div class="pt-3 pt-3">
                        <h3>Tireurs disponibles</h3>
                    </div>
                    <!--/* MON non inscrits */-->
                    <div class="border rounded mt-3 p-3">
                        <div class="p-3">
                            <form th:action="'/saisons/'+${saison.getId()}+'/inscrits/add'" method="post">
                                <h5 th:text="|Moniteurs Non-inscrits (${noninscritsMON.size()})|"></h5>
                                <table class="table table-sm table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Nom Prénom</th>
                                        <th scope="col" class="text-center"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="nonins : ${noninscritsMON}">
                                        <td>
                                            <span th:text="${nonins.getFullName()}"></span>
                                        </td>
                                        <td class="text-center">
                                            <input class="form-check-input" type="checkbox" th:name="toregister"
                                                   th:value="${nonins.getId()}"/>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <label class="text-danger" th:if="${noninscritsMON}==null or ${noninscritsMON.isEmpty()}">
                                    Il n'y a pas de moniteur à inscrire à la saison.
                                </label>

                                <div th:unless="${noninscritsMON}==null or ${noninscritsMON.isEmpty()}">
                                    <button th:unless="${saison.isSaisonFinished()}" th:if="${#httpServletRequest.isUserInRole('DIRECTEUR')}"
                                            class="btn btn-primary btn-sm btn-block" type="submit">Inscrire la sélection
                                    </button>
                                    <button th:unless="${saison.isSaisonFinished()} or ${saison.isSaisonOpen()} or ${#httpServletRequest.isUserInRole('DIRECTEUR')}"
                                            class="btn btn-primary btn-sm btn-block" type="submit">Inscrire la sélection
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--/* JT non inscrits */-->
                    <div class="border rounded mt-3 p-3">
                        <div class="p-3">
                            <form th:action="'/saisons/'+${saison.getId()}+'/inscrits/add'" method="post">
                                <h5 th:text="|Jeunes tireurs Non-inscrits (${noninscritsJT.size()})|"></h5>
                                <table class="table table-sm table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Nom Prénom</th>
                                        <th scope="col" class="text-center"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="nonins : ${noninscritsJT}">
                                        <td>
                                            <span th:text="${nonins.getFullName()}"></span>
                                        </td>
                                        <td class="text-center">
                                            <input class="form-check-input" type="checkbox" th:name="toregister"
                                                   th:value="${nonins.getId()}"/>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <label class="text-danger" th:if="${noninscritsJT}==null OR ${noninscritsJT.isEmpty()}">
                                    Il n'y a pas de jeune tireur à inscrire à la saison.
                                </label>

                                <div th:unless="${noninscritsJT}==null or ${noninscritsJT.isEmpty()}">
                                    <div th:unless="${saison.isSaisonFinished()}" th:if="${#httpServletRequest.isUserInRole('DIRECTEUR')}">
                                        <select class="form-control" th:name="anneetoregister">
                                            <option th:each="annee : ${anneeslst}" th:value="${annee.getId()}"
                                                    th:text="${annee.getNom()}"></option>
                                        </select>
                                        <button class="btn btn-primary btn-sm btn-block" type="submit">Inscrire la sélection</button>
                                    </div>
                                    <div th:unless="${saison.isSaisonFinished()} or ${saison.isSaisonOpen()} or ${#httpServletRequest.isUserInRole('DIRECTEUR')}">
                                        <select class="form-control" th:name="anneetoregister">
                                            <option th:each="annee : ${anneeslst}" th:value="${annee.getId()}"
                                                    th:text="${annee.getNom()}"></option>
                                        </select>
                                        <button class="btn btn-primary btn-sm btn-block" type="submit">Inscrire la sélection</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--/* Inactifs */-->
                    <div class="border rounded mt-3 p-3">
                        <div class="p-3">
                            <form th:action="'/saisons/'+${saison.getId()}+'/inscrits/add'" method="post">
                                <h5 th:text="|Inscriptions désactivées (${inactifs.size()})|"></h5>
                                <table class="table table-sm table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Nom Prénom</th>
                                        <th scope="col">Année</th>
                                        <th scope="col">Date désinscription</th>
                                        <th scope="col" class="text-center"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="inactif : ${inactifs}">
                                        <td>
                                            <span th:text="${inactif.getTireur().getFullName()}"></span>
                                        </td>
                                        <td>
                                            <span th:if="${inactif.getTireur() instanceof T(ch.steversoix.jtv.desktop.tireur.model.JeuneTireur)}"
                                                  th:text="${inactif.getAnnee().getNom()}">
                                            </span>
                                            <span th:if="${inactif.getTireur() instanceof T(ch.steversoix.jtv.desktop.tireur.model.Moniteur)}">
                                                MON
                                            </span>
                                        </td>
                                        <td>
                                            <span th:if="${inactif.getDateDesinscription().isPresent()}"
                                                  th:text="${#dates.format(inactif.getDateDesinscription().get(),'dd.MM.yyyy')}"></span>
                                        </td>
                                        <td class="text-center">
                                            <input class="form-check-input" type="checkbox" th:name="toreactivate"
                                                   th:value="${inactif.getId()}"/>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <label class="text-danger" th:if="${inactifs}==null OR ${inactifs.isEmpty()}">
                                    Il n'y a pas eu de désinscription durant cette saison.
                                </label>
                                <div th:unless="${inactifs}==null or ${inactifs.isEmpty()}">
                                    <div th:unless="${saison.isSaisonFinished()}" th:if="${#httpServletRequest.isUserInRole('DIRECTEUR')}">
                                        <select class="form-control" th:name="anneetoregister">
                                            <option th:each="annee : ${anneeslst}" th:value="${annee.getId()}"
                                                    th:text="${annee.getNom()}"></option>
                                        </select>
                                        <button class="btn btn-primary btn-sm btn-block" type="submit">Inscrire la sélection</button>
                                    </div>
                                    <div th:unless="${saison.isSaisonFinished()} or ${saison.isSaisonOpen()} or ${#httpServletRequest.isUserInRole('DIRECTEUR')}">
                                        <select class="form-control" th:name="anneetoregister">
                                            <option th:each="annee : ${anneeslst}" th:value="${annee.getId()}"
                                                    th:text="${annee.getNom()}"></option>
                                        </select>
                                        <button class="btn btn-primary btn-sm btn-block" type="submit">Inscrire la sélection</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="pt-3 pt-3">
                        <h3>Tireurs inscrits à la saison <span th:text="${saison.getId()}">0</span></h3>
                    </div>
                    <!--/* MON inscrits */-->
                    <div class="border rounded mt-3 p-3">
                        <div class="p-3">
                            <form th:action="'/saisons/'+${saison.getId()}+'/inscrits/delete'" method="post">

                                <h5 th:text="|Moniteurs Inscrits (${inscritsMON.size()})|"></h5>
                                <table class="table table-sm table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Nom Prénom</th>
                                        <th id="dont-print" scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="inscrit : ${inscritsMON}">
                                        <td>
                                            <span th:text="${inscrit.getTireur().getFullName()}"></span>
                                        </td>
                                        <td>
                                        <td id="dont-print" class="text-center">
                                            <input class="form-check-input" type="checkbox" th:name="todelete"
                                                   th:value="${inscrit.getId()}"/>
                                        </td>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <label class="text-danger" th:if="${inscritsMON}==null OR ${inscritsMON.isEmpty()}">
                                    Il n'y a pas de moniteur inscrit à cette saison.
                                </label>
                                <th:block th:unless="${inscritsMON}==null OR ${inscritsMON.isEmpty()}">
                                    <input th:unless="${saison.isSaisonFinished()}" th:if="${#httpServletRequest.isUserInRole('DIRECTEUR')}"
                                           class="btn btn-primary btn-sm btn-block" type="button"
                                           data-toggle="modal"
                                           th:attr="data-target='#deleteInscriptionMonModal'"
                                           value="Désinscrire la sélection"/>
                                    <input th:unless="${saison.isSaisonFinished()} or ${saison.isSaisonOpen()} or ${#httpServletRequest.isUserInRole('DIRECTEUR')}"
                                           class="btn btn-primary btn-sm btn-block" type="button"
                                           data-toggle="modal"
                                           th:attr="data-target='#deleteInscriptionMonModal'"
                                           value="Désinscrire la sélection"/>

                                    <!-- Modal désactiver-->
                                    <div class="modal fade" th:id="deleteInscriptionMonModal" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Désinscrire des
                                                        tireurs</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Êtes-vous sûr de vouloir désincrire ces tireurs ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">
                                                        Annuler
                                                    </button>
                                                    <button type="submit" class="btn btn-danger">Désinscrire</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </form>
                        </div>
                    </div>
                    <!--/* JT inscrits */-->
                    <div class="border rounded mt-3 p-3">
                        <div class="p-3">
                            <form th:action="'/saisons/'+${saison.getId()}+'/inscrits/delete'" method="post">

                                <h5 th:text="|Jeunes tireurs Inscrits (${inscritsJT.size()})|"></h5>
                                <table class="table table-sm table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Nom Prénom</th>
                                        <th scope="col">Année</th>
                                        <th id="dont-print" scope="col" class="text-center"></th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="inscrit : ${inscritsJT}">
                                        <td>
                                            <span th:text="${inscrit.getTireur().getFullName()}"></span>
                                        </td>
                                        <td th:text="${inscrit.getAnnee()?.getNom()}"></td>
                                        <td>
                                        <td id="dont-print" class="text-center">
                                            <input class="form-check-input" type="checkbox" th:name="todelete"
                                                   th:value="${inscrit.getId()}"/>
                                        </td>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <label class="text-danger" th:if="${inscritsJT}==null OR ${inscritsJT.isEmpty()}">
                                    Il n'y a pas de jeune tireur inscrit à cette saison.
                                </label>
                                <th:block th:unless="${inscritsJT}==null OR ${inscritsJT.isEmpty()}">
                                    <input th:unless="${saison.isSaisonFinished()}" th:if="${#httpServletRequest.isUserInRole('DIRECTEUR')}"
                                           class="btn btn-primary btn-sm btn-block" type="button"
                                           data-toggle="modal"
                                           th:attr="data-target='#deleteInscriptionJTModal'"
                                           value="Désinscrire la sélection"/>
                                    <input th:unless="${saison.isSaisonFinished()} or ${saison.isSaisonOpen()} or ${#httpServletRequest.isUserInRole('DIRECTEUR')}"
                                           class="btn btn-primary btn-sm btn-block" type="button"
                                           data-toggle="modal"
                                           th:attr="data-target='#deleteInscriptionJTModal'"
                                           value="Désinscrire la sélection"/>

                                        <!-- Modal désactiver-->
                                    <div class="modal fade" th:id="deleteInscriptionJTModal" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Désinscrire des
                                                        tireurs</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Êtes-vous sûr de vouloir désincrire ces tireurs ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">
                                                        Annuler
                                                    </button>
                                                    <button type="submit" class="btn btn-danger">Désinscrire</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span th:text="${erreurs}" th:style="'color:red'"/>
</th:block>
</body>
</html>