<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <title>Accueil - Moniteur/Directeur - STE Versoix Manager</title>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/saisons}">Saisons</a></li>
            <li class="breadcrumb-item active"><span th:text="${saison.getId()}"/></li>
            <li class="breadcrumb-item active" aria-current="page">Tableau de bord</li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <div class="pt-4 pb-3">
        <H1><span th:text="${saison.enTete()}">sid</span></H1>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <i class="fa fa-columns" aria-hidden="true"></i>  Résumé</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/inscrits'">
                <i class="fa fa-address-card-o" aria-hidden="true"></i>  Inscriptions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/cours'">
                <i class="fa fa-calendar" aria-hidden="true"></i>  Cours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/concours'">
                <i class="fa fa-trophy" aria-hidden="true"></i>  Concours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/programmes'">
                <i class="fa fa-tasks" aria-hidden="true"></i>  Programmes</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/attributionarme'">
                <i class="fa fa-rebel" aria-hidden="true"></i> Attribution d'armes</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/statistique'">
                <i class="fa fa-calculator" aria-hidden="true"></i> Statistique</a>
        </li>
    </ul>
    <!--Home page style-->
    <header id="home" class="home">
        <!--<div class="home-content sections">
            <h1 th:text="|Hello, ${user.getPrenom()} ${user.getNom()} !|"/>
        </div>-->
        <div class="pt-4 pt-3">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="pt-3 pt-3">
                            <h3>Liste des inscriptions à la saison</h3>
                        </div>
                        <div class="border rounded mt-3 mt-3">
                            <div class="p-3">
                                <!-- Liste des jeunes tireurs inscrit à la saisons courante -->
                                <h5 th:text="|Jeunes tireurs (${jeunes.size()})|"></h5>
                                <table class="table table-sm table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="text-center">Nom prénom</th>
                                        <th scope="col" class="text-center">Natel</th>
                                        <th scope="col" class="text-center">Tel</th>
                                        <th scope="col" class="text-center">Tel parent</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="jeune : ${jeunes}"><!--jeunestireurs/5/details-->
                                        <td>
                                            <a th:href="@{/jeunestireurs}+'/'+${jeune.getTireur().getId()}+'/details'">
                                                <span th:text="${jeune.getTireur().getFullName()}" data-toggle="tooltip"
                                                      data-placement="bottom" title="Détails du jeune tireur"></span>
                                            </a>
                                        </td>
                                        <td class="text-center" th:text="${jeune.getTireur().getNumNatel()}"></td>
                                        <td class="text-center" th:text="${jeune.getTireur().getNumTelephone()}"></td>
                                        <td class="text-center" th:text="${jeune.getTireur().getNumNatelParent()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <label class="text-danger" th:if="${jeunes}==null OR ${jeunes.isEmpty()}">
                                    Aucun jeune tireur n'est inscrit à la saison.
                                </label>
                            </div>
                            <div class="p-3">
                                <!-- Liste des moniteurs inscrit à la saisons courante -->
                                <h5 th:text="|Moniteurs (${moniteurs.size()})|"></h5>
                                <table class="table table-sm table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="text-center">Nom prénom</th>
                                        <th scope="col" class="text-center">Natel</th>
                                        <th scope="col" class="text-center">Tel</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="moniteur : ${moniteurs}">
                                        <td>
                                            <a th:href="@{/moniteurs}+'/'+${moniteur.getTireur().getId()}+'/details'">
                                                <span th:text="${moniteur.getTireur().getFullName()}"
                                                      data-toggle="tooltip" data-placement="bottom"
                                                      title="Détails du moniteur"></span>
                                            </a>
                                        </td>
                                        <td class="text-center" th:text="${moniteur.getTireur().getNumNatel()}"></td>
                                        <td class="text-center" th:text="${moniteur.getTireur().getNumTelephone()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <label class="text-danger" th:if="${moniteurs}==null OR ${moniteurs.isEmpty()}">
                                    Aucun moniteur n'est inscrit à la saison.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <span class="pull-right"><th:block
                                th:include="help/help :: modalHelp('dashboardMD')"></th:block></span>
                        <div class="pt-3 pt-3">
                            <h3>Dates importantes</h3>
                        </div>
                        <div class="border rounded mt-3 mt-3">
                            <div class="p-3">
                                <!-- Liste des cours de la saison courante -->
                                <h5>Cours</h5>

                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="text-center">Nom</th>
                                        <th scope="col" class="text-center">Date</th>
                                        <th scope="col" class="text-center">Heures</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="co : ${cours}">
                                        <div th:unless="${co.isCoursFinished()}">
                                            <td>
                                                <a th:href="'/saisons/'+${saison.getId()}+'/cours/'+${co.getId()}">
                                                    <span th:text="${co.getNom()}" data-toggle="tooltip"
                                                          data-placement="bottom" title="Gestion du cours"></span>
                                                </a>
                                            </td>
                                            <td th:text="${#dates.format(co.getDateCours(), 'dd.MM.yyyy')}" class="text-center"></td>
                                            <td th:text="${#dates.format(co.getHeureDebut(), 'HH:mm')} + ' - ' + ${#dates.format(co.getHeureFin(), 'HH:mm')}" class="text-center"></td>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                                <label class="text-danger" th:if="${cours}==null OR ${cours.isEmpty()}">
                                    Aucun cours n'est annoncé pour la saison.
                                </label>
                            </div>
                            <div class="p-3">
                                <h4>Concours</h4>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="text-center">Nom</th>
                                        <th scope="col" class="text-center">Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="concours : ${concours}">
                                        <div th:unless="${concours.isConcoursFinished()}">
                                            <td th:text="${concours.getNom()}"></td>
                                            <td th:text="${#dates.format(concours.getDateConcours(), 'dd.MM.yyyy')}" class="text-center"></td>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                                <label class="text-danger" th:if="${concours}==null OR ${concours.isEmpty()}">
                                    Aucune concour n'est annoncé pour la saison.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</th:block>
</body>
</html>
