<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <title>Accueil - Jeune tireur - STE Versoix Manager</title>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/saisons}">Saisons</a></li>
            <li class="breadcrumb-item active"><span th:text="${saison.getId()}"/></li>
            <li class="breadcrumb-item active" aria-current="page">Tableau de bord</li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <div class="pt-4 pb-3">
        <H1><span th:text="${saison.enTete()}">sid</span></H1>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <i class="fa fa-columns" aria-hidden="true"></i>  Résumé</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/cours'">
                <i class="fa fa-calendar" aria-hidden="true"></i>  Cours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/concours'">
                <i class="fa fa-trophy" aria-hidden="true"></i>  Concours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/programmes'">
                <i class="fa fa-trophy" aria-hidden="true"></i>  Programmes</a>
        </li>
    </ul>
    <!--Home page style-->
    <header id="home" class="home">
        <!--<div class="home-content sections">
            <h1 th:text="|Hello, ${user.getPrenom()} ${user.getNom()} !|"/>
        </div>-->
        <div class="pt-4 pt-3">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="pt-3 pt-3">
                            <h2><span th:text="|Bonjour, ${jtco.getFullName()}  |"></span><i class="fa fa-hand-spock-o" aria-hidden="true"></i></h2>
                        </div>
                        <div class="border rounded mt-3 mt-3">
                            <div class="p-3">
                                <!-- Fiche du JT connecté -->
                                <h4 class="pb-2">Profil</h4>
                                <div class="form-group row mb-0">
                                    <label class="col-sm-4">Date de Naissance</label>
                                    <span class="col-sm-8" th:text="${#dates.format(jtco.getDateNaissance(),'dd.MM.yyyy')}" />
                                </div>

                                <div class="form-group row mt-0 mb-0">
                                    <label class="col-sm-4">Email</label>
                                    <span class="col-sm-8" th:text="${jtco.getEmail()}" />
                                </div>

                                <div class="form-group row mt-0 mb-0">
                                    <label class="col-sm-4">N° natel</label>
                                    <span class="col-sm-8" th:text="${jtco.getNumNatel()}"/>
                                </div>

                                <div class="form-group row mt-0 mb-0">
                                    <label class="col-sm-4">N° téléphone</label>
                                    <span class="col-sm-8" th:text="${jtco.getNumTelephone()}"/>
                                </div>

                                <div class="form-group row mt-0 mb-0">
                                    <label class="col-sm-4">Adresse</label>
                                    <span class="col-sm-8" th:text="${jtco.getAdresse()}"/>
                                </div>

                                <div class="form-group row mt-0 mb-0">
                                    <label class="col-sm-4">NPA</label>
                                    <span class="col-sm-8" th:text="${jtco.getNpa()}"/>
                                </div>

                                <div class="form-group row mb-0">
                                    <label class="col-sm-4">Localité</label>
                                    <span class="col-sm-6" th:text="${jtco.getLocalite()}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <span class="pull-right"><th:block
                                th:include="help/help :: modalHelp('dashboardJT')"></th:block></span>
                        <div class="pt-3 pt-3">
                            <h2>Dates importantes</h2>
                        </div>
                        <div class="border rounded mt-3 mt-3">
                            <div class="p-3">
                                <!-- Liste des cours de la saison courante -->
                                <h4>Cours</h4>

                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="text-center">Nom</th>
                                        <th scope="col" class="text-center">Date</th>
                                        <th scope="col" class="text-center">Heures</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="co : ${cours}">
                                        <div th:unless="${co.isCoursFinished()}">
                                            <td>
                                                <a th:href="'/saisons/'+${saison.getId()}+'/cours/'+${co.getId()}">
                                                    <span th:text="${co.getNom()}" data-toggle="tooltip"
                                                          data-placement="bottom" title="Gestion du cours"></span>
                                                </a>
                                            </td>
                                            <td th:text="${#dates.format(co.getDateCours(), 'dd.MM.yyyy')}" class="text-center"></td>
                                            <td th:text="${#dates.format(co.getHeureDebut(), 'HH:mm')} + ' - ' + ${#dates.format(co.getHeureFin(), 'HH:mm')}" class="text-center"></td>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                                <label class="text-danger" th:if="${cours}==null OR ${cours.isEmpty()}">
                                    Aucun de cours n'est annoncé pour cette saison.
                                </label>
                            </div>
                            <div class="p-3">
                                <h4>Concours</h4>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="text-center">Nom</th>
                                        <th scope="col" class="text-center">Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="concours : ${concours}">
                                        <div th:unless="${concours.isConcoursFinished()}">
                                            <td th:text="${concours.getNom()}"></td>
                                            <td th:text="${#dates.format(concours.getDateConcours(), 'dd.MM.yyyy')}" class="text-center"></td>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                                <label class="text-danger" th:if="${concours}==null OR ${concours.isEmpty()}">
                                    Aucun de concours n'est annoncé pour cette saison
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</th:block>
</body>
</html>
