<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Statistique saison - STE Versoix Manager</title>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav id="breadcrump" aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/saisons}">Saisons</a></li>
            <!--<li class="breadcrumb-item"><a th:href="@{/saisons}+'/'+${saison.getId()}">inscriptions</a></li>-->
            <li class="breadcrumb-item active"><span th:text="${saison.getId()}"/></li>
            <li class="breadcrumb-item active" aria-current="page">statistique</li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <ul id="tabs" class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}">
                <i class="fa fa-columns" aria-hidden="true"></i>  Résumé</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/inscrits'">
                <i class="fa fa-address-card-o" aria-hidden="true"></i>  Inscriptions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/cours'">
                <i class="fa fa-calendar" aria-hidden="true"></i>  Cours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/concours'">
                <i class="fa fa-trophy" aria-hidden="true"></i>  Concours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/programmes'">
                <i class="fa fa-tasks" aria-hidden="true"></i>  Programmes</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/attributionarme'">
                <i class="fa fa-rebel" aria-hidden="true"></i> Attribution d'armes</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link active" href="#">
                <i class="fa fa-calculator" aria-hidden="true"></i> Statistique</a>
        </li>
    </ul>

    <div class="pt-4 pt-3">
        <H1>Statistique</H1>
    </div>


    <div class="mx-auto" style="width: 95%;">
        <span class="pull-right">
            <button class="btn btn-outline-primary contact-btn float-right pr-2" type="submit" id="btnimprimer"><i class="fa fa-print" aria-hidden="true"></i></button>
        </span>
        <div class="pt-2 pb-3">
            <h5>Jeunes tireurs</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-center" scope="col">Nom Prénom</th>
                    <th class="text-center" scope="col">Année</th>
                    <th class="text-center" scope="col">Nb Présences</th>
                    <th class="text-center" scope="col">Nb Excusés</th>
                    <th class="text-center" scope="col">Nb En retard</th>
                    <th class="text-center" scope="col">Nb Absences</th>
                </tr>
                </thead>
                <tbody id="myTable">
                <tr th:each="jt : ${statJT}">
                    <td class="text-center" th:text="${jt.getInscription().getTireur().getFullName()}"></td>
                    <td class="text-center" th:text="${jt.getInscription().getAnnee().getNom()}"></td>
                    <td class="text-center" th:text="${jt.getNbPresence()}"></td>
                    <td class="text-center" th:text="${jt.getNbExcuse()}"></td>
                    <td class="text-center" th:text="${jt.getNbRetard()}"></td>
                    <td class="text-center" th:text="${jt.getNbAbsent()}"></td>
                </tr>
                </tbody>
            </table>
            <label class="text-danger" th:if="${statJT}==null OR ${statJT.isEmpty()}">
                Aucun jeune tireur n'est inscrit à la saison.
            </label>
        </div>
    </div>
    <div class="mx-auto" style="width: 95%;">
        <div class="pt-2 pb-3">
            <h5>Moniteurs</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-center" scope="col">Nom Prénom</th>
                    <th class="text-center" scope="col">Nb Présences</th>
                    <th class="text-center" scope="col">Nb Excusés</th>
                    <th class="text-center" scope="col">Nb En retard</th>
                    <th class="text-center" scope="col">Nb Absences</th>
                </tr>
                </thead>
                <tbody id="myTable">
                <tr th:each="mon : ${statMON}">
                    <td class="text-center" th:text="${mon.getInscription().getTireur().getFullName()}"></td>
                    <td class="text-center" th:text="${mon.getNbPresence()}"></td>
                    <td class="text-center" th:text="${mon.getNbExcuse()}"></td>
                    <td class="text-center" th:text="${mon.getNbRetard()}"></td>
                    <td class="text-center" th:text="${mon.getNbAbsent()}"></td>
                </tr>
                </tbody>
            </table>
            <label class="text-danger" th:if="${statMON}==null OR ${statMON.isEmpty()}">
                Aucun moniteur n'est inscrit à la saison.
            </label>
        </div>
    </div>
    <div>
        <span th:text="${erreurs}" th:style="'color:red'"/>
    </div>
</th:block>
</body>
</html>