<!--Footer-->
<th:block th:fragment="flash">
    <th:block th:switch="__${message?.getLevel()}__">
        <div id="dont-print" th:case="'PRIMARY'" class="p-2 m-2 bg-primary text-white rounded">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span th:text="${message?.getMessage()}"></span>
        </div>
        <div id="dont-print" th:case="'SECONDARY'" class="p-2 m-2 bg-secondary text-white rounded">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span th:text="${message?.getMessage()}"></span>
        </div>
        <div id="dont-print" th:case="SUCCESS" class="p-2 m-2 bg-success text-white rounded">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <span th:text="${message?.getMessage()}"></span>
        </div>
        <div id="dont-print" th:case="'DANGER'" class="p-2 m-2 bg-danger text-white rounded">
            <i class="fa fa-times-circle " aria-hidden="true"></i>
            <span th:text="${message?.getMessage()}"></span>
        </div>
        <div id="dont-print" th:case="'WARNING'" class="p-2 m-2 bg-warning text-dark rounded">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <span th:text="${message?.getMessage()}"></span>
        </div>
        <div id="dont-print" th:case="'INFO'" class="p-2 m-2 bg-info text-white rounded">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span th:text="${message?.getMessage()}"></span>
        </div>
        <div id="dont-print" th:case="'LIGHT'" class="p-2 m-2 bg-light text-dark rounded">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span th:text="${message?.getMessage()}"></span>
        </div>
        <div id="dont-print" th:case="'DARK'" class="p-2 m-2 bg-dark text-white rounded">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span th:text="${message?.getMessage()}"></span>
        </div>
        <div id="dont-print" th:case="'WHITE'" class="p-2 m-2 bg-white text-dark rounded">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span th:text="${message?.getMessage()}"></span>
        </div>
        <div id="dont-print" th:case="*" class="p-2 m-2 bg-info text-white rounded">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span th:text="${message?.getMessage()}"></span>
        </div>
    </th:block>
</th:block>
