<!--Footer-->
<footer id="footer" class="footer" th:fragment="footer">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 col-sm-6 col-xs-6">
                <div class="copyright text-left">
                    <p>Made by <a href="#"> D.Pinto, A.Debal, J.Blum et J.Capitao </a>2017-2018.</p>
                </div>
            </div>

            <div class="col-md-6 col-md-offset-6 col-sm-6 col-xs-6">
                <div class="copyright text-right">

                </div>
            </div>

        </div>
</footer>