<nav id="header" class="navbar navbar-expand-sm navbar-dark bg-dark" th:fragment="header">
    <a class="navbar-brand mb-0 h1" href="#">
        <img th:src="@{/assets/images/logo.png}" width="30" height="30" alt=""/>
        JTV
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" th:if="${#httpServletRequest.isUserInRole('TIREUR')}">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Saisons
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!--<a class="dropdown-item" th:href="@{/saisons}">Saison courante</a>-->

                    <!--<div class="dropdown-divider"></div>-->
                    <a class="dropdown-item" th:href="@{/saisons}">Gérer les saisons</a>
                </div>
            </li>
            <li class="nav-item dropdown" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Tireurs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/jeunestireurs}">Gérer les jeunes tireurs</a>
                    <a class="dropdown-item" th:href="@{/moniteurs}">Gérer les moniteurs</a>
                </div>
            </li>
            <li class="nav-item dropdown" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Armes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/typesarmes}">Gérer les types d'armes</a>
                    <a class="dropdown-item" th:href="@{/armes}">Gérer les armes</a>
                </div>
            </li>
            <li class="nav-item dropdown" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Autres
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/postes}">Gérer les postes</a>
                    <a class="dropdown-item" th:href="@{/annees}">Gérer les années</a>
                    <a class="dropdown-item" th:href="@{/cibles}">Gérer les cibles</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li th:if="${user != null}" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" th:text="${user.getFullName()}">
                    User
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/tireurs/}+${user.getId()}+'/updateDroit'">Changer mot passe</a>
                    <form th:action="@{/logout}" method="post" name="formlogout">
                        <a class="dropdown-item" href="#" onclick="document.formlogout.submit();">Déconnexion</a>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>
