<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Import de Jeunes Tireurs - STE Versoix Manager</title>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{/jeunestireurs}">Jeunes tireurs</a>
            </li>
            <li class="breadcrumb-item active">import</li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <div class="container pb-3 pt-3">
        <div class="pb-3">
            <h1>Importation de Jeunes Tireurs</h1>
        </div>

        <span class="float-right"><th:block
                th:include="help/help :: modalHelp('importJeuneTireur')"></th:block></span>

        <div class="pt-3 pb-3">
            <form method="post" id="importForm"
                  enctype="multipart/form-data"
                  th:action="@{/jeunestireurs/import}">
                <h5>Importer un fichier CSV</h5>
                <fieldset class="form-group border rounded p-3 mt-3 mb-3">
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Sélectionnez un fichier</label>
                        <div class="col-sm-6">
                            <input class="form-control-file" type="file" accept=".csv,text/csv" name="file" id="toimport"/>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                Importer le fichier
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>

            <span th:text="${erreurs}" th:style="'color:red'"/>
        </div>
    </div>


    <!--        <button class="btn btn-primary contact-btn" type="submit"
                    th:if="${#httpServletRequest.isUserInRole('MONITEUR')}" th:unless="${saison.isSaisonFinished()}">
                Sauvegarder
            </button>-->
    <th:block th:if="${jtToImport}">
        <th:block th:if="${#lists.size(jtToImport.importJTList) &gt; 0}">
            <div class="pt-3 pb-3">
                <h3>Liste des Tireurs à importer :</h3>
            </div>
            <form method="post" id="importvalidationform" th:action="@{/jeunestireurs/import/validate}">
                <table class="table table-bordered table-hover table-striped table-sm" id="tabPresences">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center" colspan="2"></th>
                        <th scope="col" class="text-center" colspan="10">Jeune Tireur</th>
                        <th scope="col" class="text-center" colspan="6">Parent</th>
                        <th scope="col" class="text-center" colspan="2">Utilisateur</th>
                    </tr>
                    <tr>
                        <th scope="col" class="text-center">N°</th>
                        <th scope="col" class="text-center">&nbsp;</th>
                        <th scope="col" class="text-center">Civ.</th>
                        <th scope="col" class="text-center">Nom</th>
                        <th scope="col" class="text-center">Prénom</th>
                        <th scope="col" class="text-center">Date de naissance</th>
                        <th scope="col" class="text-center">N° Tel</th>
                        <th scope="col" class="text-center">N° Natel</th>
                        <th scope="col" class="text-center">E-Mail</th>
                        <th scope="col" class="text-center">NPA</th>
                        <th scope="col" class="text-center">Ville</th>
                        <th scope="col" class="text-center">Rue</th>
                        <th scope="col" class="text-center">Nom Parent</th>
                        <th scope="col" class="text-center">Prénom</th>
                        <th scope="col" class="text-center">N° Tel</th>
                        <th scope="col" class="text-center">NPA</th>
                        <th scope="col" class="text-center">Ville</th>
                        <th scope="col" class="text-center">Rue</th>
                        <th scope="col" class="text-center">Nom d'utilisateur</th>
                        <th scope="col" class="text-center">Mot de passe</th>
                    </tr>
                    </thead>
                    <tbody id="presencesContainer">
                    <tr th:each="jt, status : ${jtToImport.importJTList}">
                        <td th:text="${status.count}"></td>
                        <th:block th:if="*{not jt.isEmpty()}">
                            <td>
                                <div class="col-auto">
                                    <input class="form-check-input m-1" type="checkbox"
                                           th:name="|importJTList[${status.index}].toAdd|" checked="checked"/>
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" readonly="readonly"
                                           class="form-control-plaintext form-control-sm text-dark" id="staticTitre"
                                           th:name="|importJTList[${status.index}].titre|"
                                           th:value="*{jt.getTitre()}"/>
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" readonly="readonly"
                                           class="form-control-plaintext form-control-sm text-dark" id="staticNom"
                                           th:name="|importJTList[${status.index}].nom|"
                                           th:value="*{jt.getNom()}"/>
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" readonly="readonly"
                                           class="form-control-plaintext form-control-sm text-dark" id="staticPrenom"
                                           th:name="|importJTList[${status.index}].prenom|"
                                           th:value="*{jt.getPrenom()}"/>
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" readonly="readonly"
                                           class="form-control-plaintext form-control-sm text-dark"
                                           id="staticDateNaissance"
                                           th:name="|importJTList[${status.index}].dateNaissance|"
                                           th:value="${jt.getDateNaissance()}"/>

                                    <!-- th:value="${#dates.format(jt.getDateNaissance(), 'dd.MM.yyyy')}"/>-->
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" readonly="readonly"
                                           class="form-control-plaintext form-control-sm text-dark"
                                           id="staticNumTelephone"
                                           th:name="|importJTList[${status.index}].numTelephone|"
                                           th:value="*{jt.getNumTelephone()}"/>
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" readonly="readonly"
                                           class="form-control-plaintext form-control-sm text-dark" id="staticNumNatel"
                                           th:name="|importJTList[${status.index}].numNatel|"
                                           th:value="*{jt.getNumNatel()}"/>
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" readonly="readonly"
                                           class="form-control-plaintext form-control-sm text-dark" id="staticEmail"
                                           th:name="|importJTList[${status.index}].email|"
                                           th:value="*{jt.getEmail()}"/>
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" readonly="readonly"
                                           class="form-control-plaintext form-control-sm text-dark" id="staticNpa"
                                           th:name="|importJTList[${status.index}].npa|"
                                           th:value="*{jt.getNpa()}"/>
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" readonly="readonly"
                                           class="form-control-plaintext form-control-sm text-dark" id="staticLocalite"
                                           th:name="|importJTList[${status.index}].localite|"
                                           th:value="*{jt.getLocalite()}"/>
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" readonly="readonly"
                                           class="form-control-plaintext form-control-sm text-dark" id="staticAdresse"
                                           th:name="|importJTList[${status.index}].adresse|"
                                           th:value="*{jt.getAdresse()}"/>
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" readonly="readonly"
                                           class="form-control-plaintext form-control-sm text-dark" id="staticNomParent"
                                           th:name="|importJTList[${status.index}].nomParent|"
                                           th:value="*{jt.getNomParent()}"/>
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" readonly="readonly"
                                           class="form-control-plaintext form-control-sm text-dark"
                                           id="staticPrenomParent"
                                           th:name="|importJTList[${status.index}].prenomParent|"
                                           th:value="*{jt.getPrenomParent()}"/>
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" readonly="readonly"
                                           class="form-control-plaintext form-control-sm text-dark"
                                           id="staticNatelParent"
                                           th:name="|importJTList[${status.index}].numNatelParent|"
                                           th:value="*{jt.getNumNatelParent()}"/>
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" readonly="readonly"
                                           class="form-control-plaintext form-control-sm text-dark" id="staticNpaParent"
                                           th:name="|importJTList[${status.index}].npaParent|"
                                           th:value="*{jt.getNpaParent()}"/>
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" readonly="readonly"
                                           class="form-control-plaintext form-control-sm text-dark"
                                           id="staticLocaliteParent"
                                           th:name="|importJTList[${status.index}].localiteParent|"
                                           th:value="*{jt.getLocaliteParent()}"/>
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" readonly="readonly"
                                           class="form-control-plaintext form-control-sm text-dark"
                                           id="staticAdresseParent"
                                           th:name="|importJTList[${status.index}].adresseParent|"
                                           th:value="*{jt.getAdresseParent()}"/>
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" readonly="readonly"
                                           class="form-control-plaintext form-control-sm text-dark"
                                           id="staticUsername"
                                           th:name="|importJTList[${status.index}].username|"
                                           th:value="*{jt.getUsername()}"/>
                                </div>
                            </td>
                            <td>
                                <div class="col-auto">
                                    <input type="text" readonly="readonly"
                                           class="form-control-plaintext form-control-sm text-dark"
                                           id="staticPassword"
                                           th:name="|importJTList[${status.index}].password|"
                                           th:value="*{jt.getPassword()}"/>
                                </div>
                            </td>
                        </th:block>
                        <th:block th:if="*{jt.isEmpty()}">
                            <td><input class="form-check-input m-1" type="checkbox" disabled="disabled"/></td>
                            <td colspan="18" class="bg-warning text-dark">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Erreur de lecture de la
                                ligne
                            </td>
                        </th:block>
                    </tr>
                    </tbody>
                </table>
                <div class="pt-3 pb-3">
                    <button class="btn btn-primary contact-btn" type="submit"
                            th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
                        Valider l'importation
                    </button>
                </div>
            </form>
        </th:block>
    </th:block>
</th:block>
</body>
</html>