<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
                              xmlns:th="http://www.thymeleaf.org"
                              xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
                              xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                              layout:decorator="layouts/layout">
    <head>
        <title>JTV - Fiche programme</title>
        <script th:src="@{/assets/js/jquery-2.1.1.min.js}"></script>
        <script th:src="@{/assets/js/dynamic_list_helper.js}"></script>
        <script th:src="@{/assets/js/input-controls.js}"></script>
        <script th:src="@{/assets/js/addLignePasse.js}"></script>
    </head>
    <body>
        <th:block layout:fragment="breadcrump">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/saisons}">Saisons</a></li>
                    <li class="breadcrumb-item active"><span th:text="${saison.getId()}"/></li>
                    <li class="breadcrumb-item"><a th:href="@{/saisons}+'/'+${saison.getId()}+'/programmes'">Programmes</a></li>
                    <!--<li class="breadcrumb-item active" aria-current="page">Ajouter</li>-->
                </ol>
            </nav>
        </th:block>
        <th:block layout:fragment="content">
            <div class="container pb-3 pt-3">
                <form th:object="${programme}"
                      th:action="${programme.getId()}?@{/saisons}+'/'+${saison.getId()}+'/programmes/'+${programme.getId()}+'/update': @{/saisons}+'/'+${saison.getId()}+'/programmes'"
                      method="post" id="programmeForm">
                    <div class="pb-5">
                        <h1><span th:text="${programme.getId()}?'Modification d\'un programme':'Ajout d\'un programme'"/></h1>

                        <span class="pull-right"><th:block
                                th:include="help/help :: modalHelp('ajoutProgramme')"></th:block></span>
                    </div>

                    <span class="invisible" th:text="${programme.getId()}?'Id':''" />
                    <span class="invisible" th:text="${programme.getId()}?${programme.getId()}+'':''" />

                    <div class="pt-3 pb-3">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Nom*</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Nom du programme" th:field="*{nom}" th:value="${programme?.getNom()}"/>
                            </div>
                            <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">Name Error</span>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="5" th:field="*{desc}" th:value="${programme?.getDesc()}"/>
                            </div>
                            <span th:if="${#fields.hasErrors('desc')}" th:errors="*{desc}">Description Error</span>
                        </div>

                        <div class="border rounded pt-2 pb-3 pl-3 pr-3 mb-2 mt-3">
                            <!--<form:form method="POST" modelAttribute="passes">-->
                            <div class="pt-3 pb-3 row">
                                <div class="col">
                                    <label>Passes*</label>
                                </div>
                                <div class="col text-right">
                                    <button id="addpasse" type="button" class="btn btn-success">
                                        <i class="fa fa-plus" aria-hidden="true"></i> Nouvelle passe</button>
                                </div>
                            </div>
                            <div>
                                <table class="table table-striped" id="tabPasse">
                                    <thead>
                                    <tr>
                                        <th scope="col">Ordre</th>
                                        <th scope="col">Cible</th>
                                        <th scope="col">Type de coups</th>
                                        <th scope="col">Séquence</th>
                                        <th scope="col">Nombre de coups</th>
                                        <th scope="col">#</th>
                                    </tr>
                                    </thead>
                                    <tbody id="passesContainer">
                                        <div th:each="pas,status : ${programme.passes}">
                                        <tr class="passetoadd">
                                            <td>
                                                <input th:field="*{passes[__${status.index}__].ordre}" class="form-control numeric-data" placeholder="Ordre" type="text"/>
                                            </td>
                                            <td>
                                                <select th:field="*{passes[__${status.index}__].cible}" class="form-control" >
                                                    <option th:each="cib : ${cibles}" th:value="${cib.id}" th:text="${cib.nom}"></option>
                                                </select>
                                            </td>
                                            <td>
                                                <select th:field="*{passes[__${status.index}__].typeCoup}" class="form-control">
                                                    <option th:each="eType : ${enumType}" th:value="${eType.getType()}" th:text="${eType.getType()}"></option>
                                                </select>
                                            </td>
                                            <td>
                                                <input th:field="*{passes[__${status.index}__].sequence}" class="form-control numeric-data" placeholder="Valeur de la séquence" type="text"/>
                                            </td>
                                            <td>
                                                <input th:field="*{passes[__${status.index}__].nbcoups}" class="form-control numeric-data" placeholder="Nombre de coups" type="text"/>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger btn-sm" data-confirm="Voulez-vous vraiment effacer cette passe?">Del</button>
                                            </td>
                                        </tr>
                                    </div>
                                        <div th:if="*{passes==null || passes.isEmpty()}">
                                            <tr class="passetoadd">
                                                <td>
                                                    <input id="passes0.ordre" name="passes[0].ordre"  class="form-control numeric-data" placeholder="Ordre" type="text"/>
                                                </td>
                                                <td>
                                                    <select id="passes0.cible" name="passes[0].cible"  class="form-control" >
                                                        <option th:each="cib : ${cibles}" th:value="${cib.id}" th:text="${cib.nom}"></option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="passes0.typeCoup" name="passes[0].typeCoup" class="form-control">
                                                        <option th:each="eType : ${enumType}" th:value="${eType.getType()}" th:text="${eType.getType()}"></option>
                                                    </select>
                                                </td>
                                                <td><input id="passes0.sequence" name="passes[0].sequence" class="form-control numeric-data" placeholder="Valeur de la séquence" type="text"/></td>
                                                <td><input id="passes0.nbcoups" name="passes[0].nbcoups" class="form-control numeric-data" placeholder="" type="text"/></td>
                                                <td>
                                                    <button class="btn btn-danger btn-sm" data-confirm="Voulez-vous vraiment effacer cette passe?"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                                </td>
                                            </tr>
                                        </div>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Total des munitions - Non-fonctionnelle -->
                            <!--<label class="col-sm-2 col-form-label">Total de munitions</label>-->
                            <!--<input type="text" readonly="true" id="totalMun"></input>-->
                            <!--</form:form>-->
                        </div>
                        <button class="btn btn-primary contact-btn" type="submit">
                            <i class="fa fa-check" aria-hidden="true"></i>  Valider</button>
                        <div th:each="e : ${erreurs}"><span  th:text="${e}" th:style="'color:red'"></span></div>
                    </div>
                </form>
            </div>
        </th:block>
    </body>
</html>


