<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <title>JTV</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/cibles}">Cibles</a></li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <form th:object="${cible}" th:action="${cible.getId()}?@{/cibles}+'/'+${cible.getId()}+'/update':@{/cibles}" method="post">
        <h1><span th:text="${cible.getId()}?'Modification d\'une cible':'Ajout d\'une cible'"/></h1>
        <div class="ui-body ui-body-b ui-corner-all" style="margin-bottom:1em;">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nom</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" th:field="*{nom}" th:value="${cible?.getNom()}"/>
                </div>
                <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="alert alert-danger">Name Error</span><br/>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Valeur max</label>
                <div class="col-sm-10">
                    <input class="form-control" type="number" th:field="*{valeurMax}" th:value="${cible?.getValeurMax()}"/>
                </div>
                <span th:if="${#fields.hasErrors('valeurMax')}" th:errors="*{valeurMax}" class="alert alert-danger">Max value Error</span><br/>
            </div>

            <button type="submit" class="btn btn-primary contact-btn">
                <i class="fa fa-check" aria-hidden="true"></i>
                Valider
            </button>

            <span th:text="${erreurs}" th:style="'color:red'"/>
        </div>
    </form>
</th:block>
</body>
</html>