<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>JTV - Fiche arme</title>
    </head>
    <body>
        <th:block layout:fragment="breadcrump">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/armes}">Armes</a></li>
                </ol>
            </nav>
        </th:block>
        <th:block layout:fragment="content">
            <div class="container pb-3 pt-3">
                <form th:object="${arme}" th:action="${arme.getId()}?@{/armes}+'/'+${arme.getId()}+'/update':@{/armes}" method="post">
                    <div class="pb-5">
                        <h1><span th:text="${arme.getId()}?'Modification d\'une arme':'Ajout d\'une arme'"/></h1>

                        <span class="pull-right"><th:block
                            th:include="help/help :: modalHelp('ajoutArme')"></th:block></span>
                    </div>
                    <!--RM 03 : Arme On ne peut modifier que la description et le type -->
                    <div class="pt-3 pb-3">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Numéro*</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="number" th:field="*{id}" th:value="${arme?.getId()}" th:disabled="${arme.getId()}?'true':'false'"/>
                            </div>
                            <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="alert alert-danger">Id Error</span><br/><br/>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <textarea class="txtArea form-control" rows="5" cols="50" th:field="*{description}"></textarea>
                            </div>
                        </div>

                        <!--RM 03 : Arme On ne peut modifier que la description et le type -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Type d'arme*</label>
                            <div class="col-sm-10">
                                <div>
                                    <select th:disabled="${edit_type_arme==false}" id="type_arme" th:field="*{type}" class="form-control">
                                        <option th:each="typeArme : ${typesArmes}" th:value="${typeArme.getId()}" th:text="${typeArme.getNom()}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <span th:text="${erreurs}" th:style="'color:red'" />
                    </div>
                    <button type="submit" class="btn btn-primary contact-btn">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Valider
                    </button>
                </form>
            </div>
        </th:block>
    </body>
</html>