<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <title>JTV - Fiche type arme</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <th:block layout:fragment="breadcrump">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/typesarmes}">Types d'armes</a></li>
                </ol>
            </nav>
        </th:block>
        <th:block layout:fragment="content">
            <div class="container pb-3 pt-3">
                <form th:object="${typearme}" th:action="${typearme.getId()}?@{/typesarmes}+'/'+${typearme.getId()}+'/update':@{/typesarmes}" method="post">
                    <div class="pb-5">
                        <h1><span th:text="${typearme.getId()}?'Modification d\'un type d\'arme':'Ajout d\'un type d\'arme'"/></h1>

                        <span class="pull-right"><th:block
                                th:include="help/help :: modalHelp('ajoutTypeArme')"></th:block></span>
                    </div>
                    <div class="pt-3 pb-3">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Nom*</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" th:field="*{nom}" th:value="${typearme?.getNom()}"/>
                            </div>
                            <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="alert alert-danger">Name Error</span><br/>
                        </div>

                        <button type="submit" class="btn btn-primary contact-btn">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Valider
                        </button>

                        <span th:text="${erreurs}" th:style="'color:red'"/>
                    </div>
                </form>
            </div>
        </th:block>
    </body>
</html>