<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Gestion des concours - STE Versoix Manager</title>
    <script th:src="@{/assets/js/jquery-2.1.1.min.js}"></script>
    <script th:src="@{/assets/js/dynamic_list_helper.js}"></script>
    <script th:src="@{/assets/js/addProgrammeAnnee.js}"></script>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/saisons}">Saisons</a></li>
            <li class="breadcrumb-item active"><span th:text="${saison.getId()}"/></li>
            <li class="breadcrumb-item"><a th:href="@{/saisons}+'/'+${saison.getId()}+'/concours'">Concours</a></li>
            <!--<li class="breadcrumb-item active" aria-current="page">Ajouter</li>-->
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <div class="container pt-3 pb-3">
        <form th:object="${concours}"
              th:action="${concours.getId()}?@{/saisons}+'/'+${saison.getId()}+'/concours/'+${concours.getId()}+'/update':@{/saisons}+'/'+${saison.getId()}+'/concours'"
              method="post" id="coursForm">

            <div class="pb-5">
                <h1><span th:text="${concours.getId()}?'Modification d\'un concours':'Ajout d\'un concours'"/></h1>

                <span class="pull-right"><th:block
                        th:include="help/help :: modalHelp('ajoutConcours')"></th:block></span>
            </div>
            <div class="pt-3 pb-3">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nom*</label>
                    <div class="col-sm-10">
                        <input class="form-control" th:field="*{nom}" th:value="${concours?.getNom()}" type="text"/>
                    </div>
                    <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"
                          class="alert alert-danger">Name Error</span><br/>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Lieu*</label>
                    <div class="col-sm-10">
                        <input class="form-control" th:field="*{lieu}" th:value="${concours?.getLieu()}" type="text"/>
                    </div>
                    <span th:if="${#fields.hasErrors('lieu')}" th:errors="*{lieu}"
                          class="alert alert-danger">Lieu Error</span><br/>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Date*</label>
                    <div class="col-sm-10">
                        <input class="form-control" th:field="*{dateConcours}" th:value="${concours?.getDateConcours()}" type="date"/></div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Prix*</label>
                    <div class="col-sm-10">
                        <input class="form-control" th:field="*{prix}" th:value="${concours?.getPrix()}" type="number"/></div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Licence*</label>
                    <div class="col-sm-10">
                        <input class="form-control" th:field="*{licence}" th:checked="${concours?.isLicence()}" type="checkbox"/></div>
                </div>


                <button class="btn btn-primary" type="submit" value="Valider">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Valider
                </button>
                <div th:each="e : ${erreurs}"><span  th:text="${e}" th:style="'color:red'"></span></div>
            </div>
        </form>
    </div>
</th:block>
</body>
</html>