<!DOCTYPE html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8" />
    <title>JTV - Fiche jeune tireur</title>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/jeunestireurs}">Jeunes tireurs</a></li>
            <!--<li class="breadcrumb-item active" aria-current="page">Ajouter</li>-->
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <div class="container pt-3 pb-3">
        <form th:object="${jeunetireur}" th:action="${jeunetireur.getId()}?@{/jeunestireurs/}+${jeunetireur.getId()}+'/update':@{/jeunestireurs/add}" method="post">
            <div class="pb-3">
                <h1><span th:text="${jeunetireur.getId()}?'Modification d\'un jeune tireur':'Ajout d\'un jeune tireur'"/></h1>

                <span class="pull-right"><th:block
                        th:include="help/help :: modalHelp('ajoutJeuneTireur')"></th:block></span>
            </div>
            <div class="pt-3 pb-2">
                <div class="pb-2">
                    <h5>Informations du jeune tireur</h5>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Titre*</label>
                    <div class="col-sm-10">
                        <select th:field="*{titre}" class="form-control">
                            <option th:each="eTitre : ${enumTitre}" th:value="${eTitre.getTitre ()}" th:text="${eTitre.getTitre()}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nom*</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{nom}" placeholder="Nom du jeune" th:value="${jeunetireur?.getNom()}"/>
                    </div>
                    <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">Name Error</span>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Prénom*</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{prenom}" placeholder="Prénom du jeune" th:value="${jeunetireur?.getPrenom()}"/>
                    </div>
                    <span th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}">Firstname Error</span>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Date de Naissance*</label>
                    <div class="col-sm-9">
                        <input id="inputNaissance" class="form-control" th:field="*{dateNaissance}" placeholder="" data-role="date" type="date" th:value="${jeunetireur?.getDateNaissance()}" data-clear-btn="true"/>
                    </div>
                    <button type="button" class="btn btn-secondary col-sm-1" data-toggle="tooltip" data-placement="top" th:title="'Un tireur doit avoir au moins ' + ${ageMin} + ' ans.'"><!---->
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </button>
                    <span th:if="${#fields.hasErrors('dateNaissance')}" th:errors="*{dateNaissance}">dateNaissance Error</span>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Email*</label>
                    <div class="col-sm-10">
                        <input id="inputEmail" type="email" th:field="*{email}" class="form-control" placeholder="Email du jeune" th:value="${jeunetireur?.getEmail()}"/>
                    </div>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</span>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">N° natel*</label>
                    <div class="col-sm-10">
                        <input id="inputNumNatel" type="text" th:field="*{numNatel}" class="form-control" placeholder="N° natel du jeune" th:value="${jeunetireur?.getNumNatel()}"/>
                    </div>
                    <span th:if="${#fields.hasErrors('numNatel')}" th:errors="*{numNatel}">numNatel Error</span>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">N° téléphone*</label>
                    <div class="col-sm-10">
                        <input id="inputNumTel" type="text" th:field="*{numTelephone}" class="form-control" placeholder="N° téléphone du jeune" th:value="${jeunetireur?.getNumTelephone()}"/>
                    </div>
                    <span th:if="${#fields.hasErrors('numTelephone')}" th:errors="*{numTelephone}">numTelephone Error</span>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Adresse*</label>
                    <div class="col-sm-10">
                        <input id="inputAdresse" type="text" th:field="*{adresse}" class="form-control" placeholder="Adresse du jeune"  th:value="${jeunetireur?.getAdresse()}"/>
                    </div>
                    <span th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}">adresse Error</span>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">NPA*</label>
                    <div class="col-sm-10">
                        <input id="inputNPA" type="text" th:field="*{npa}" class="form-control" placeholder="NPA du jeune" th:value="${jeunetireur?.getNpa()}"/>
                    </div>
                    <span th:if="${#fields.hasErrors('npa')}" th:errors="*{npa}">npa Error</span>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Localité*</label>
                    <div class="col-sm-10">
                        <input id="inputLocalite" type="text" th:field="*{localite}" class="form-control" placeholder="Localité du jeune" th:value="${jeunetireur?.getLocalite()}"/>
                    </div>
                    <span th:if="${#fields.hasErrors('localite')}" th:errors="*{localite}">localite Error</span>
                </div>

                <div class="pt-2 pb-3" th:unless="${jeunetireur?.getId()}">
                    <div class="pb-2">
                        <h5>Utilisateur</h5>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nom d'utilisateur*</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{username}" class="form-control" placeholder="Nom d'utilisateur du jeune" th:value="${jeunetireur?.getUsername()}"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Mot de passe*</label>
                        <div class="col-sm-9">
                            <input type="password" th:field="*{password}" class="form-control" placeholder="Mot de passe du jeune" value=""/>
                        </div>
                        <!-- GD 02 – Mot de passe -->
                        <button type="button" class="col-sm-1 btn btn-secondary" data-toggle="tooltip" data-placement="top" th:title="'Le mot de passe doit avoir au moins 8 caractères dont au moins 1 majuscule, 1 minuscule et 1 chiffre.'">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <div class="pt-2 pb-3">
                    <div class="pb-2">
                        <h5>Informations du parent</h5>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nom parent*</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{nomParent}" class="form-control" placeholder="Nom du parent" th:value="${jeunetireur?.getNomParent()}"/>
                        </div>
                        <span th:if="${#fields.hasErrors('nomParent')}" th:errors="*{nomParent}">nomParent Error</span>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Prénom parent*</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{prenomParent}" class="form-control" placeholder="Prénom du parent" th:value="${jeunetireur?.getPrenomParent()}"/>
                        </div>
                        <span th:if="${#fields.hasErrors('prenomParent')}" th:errors="*{prenomParent}">prenomParent Error</span>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Adresse parent*</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{adresseParent}" class="form-control" placeholder="Adresse du parent" th:value="${jeunetireur?.getAdresseParent()}"/>
                        </div>
                        <span th:if="${#fields.hasErrors('adresseParent')}" th:errors="*{adresseParent}">adresseParent Error</span>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">NPA parent*</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{npaParent}" class="form-control" placeholder="NPA du parent" th:value="${jeunetireur?.getNpaParent()}"/>
                        </div>
                        <span th:if="${#fields.hasErrors('npaParent')}" th:errors="*{npaParent}">npaParent Error</span>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Localité parent*</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{localiteParent}" class="form-control" placeholder="Localité du parent" th:value="${jeunetireur?.getLocaliteParent()}"/>
                        </div>
                        <span th:if="${#fields.hasErrors('localiteParent')}" th:errors="*{localiteParent}">localiteParent Error</span>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">N° natel parent*</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{numNatelParent}" class="form-control" placeholder="N° natel du parent" th:value="${jeunetireur?.getNumNatelParent()}"/>
                        </div>
                        <span th:if="${#fields.hasErrors('numNatelParent')}" th:errors="*{numNatelParent}">numNatelParent Error</span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary contact-btn">
                    <i class="fa fa-check" aria-hidden="true"></i>  Valider
                </button>
            </div>
        </form>
    </div>
</th:block>
</body>
</html>
