<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
                              xmlns:th="http://www.thymeleaf.org"
                              xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
                              xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                              layout:decorator="layouts/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>JTV - Fiche saison</title>
    </head>
    <body>
        <th:block layout:fragment="breadcrump">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/saisons}">Saisons</a></li>
                </ol>
            </nav>
        </th:block>
        <th:block layout:fragment="content">
            <div class="container pt-3 pb-3">
                <form th:object="${saison}" th:action="${saison.getId()}?@{/saisons}+'/'+${saison.getId()}+'/update':@{/saisons}" method="post">
                    <div class="pb-5">
                        <h1><span th:field="*{id}" th:text="${saison.getId()}?'Modification d\'une saison':'Ajout d\'une saison'"/></h1>

                        <span class="pull-right"><th:block
                                th:include="help/help :: modalHelp('ajoutSaison')"></th:block></span>
                    </div>
                    <div class="pt-3 pb-3">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Date de début*</label>
                            <div class="col-sm-10">
                                <div>
                                    <input th:readonly="${dateDebutActif}" type="date" class="form-control"
                                           name="dateDebut" text="Date de début"
                                           placeholder="Date de début de la saison" th:field="*{dateDebut}"
                                           th:value="${saison?.getDateDebut()}"/>
                                </div>
                            </div>
                            <span th:if="${#fields.hasErrors('dateDebut')}"
                                  th:errors="*{dateDebut}">Date begin Error</span>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Date de fin*</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" name="dateFin" text="Date de fin"
                                       placeholder="Date de fin de la saison" th:field="*{dateFin}"
                                       th:value="${saison?.getDateFin()}"/>
                            </div>
                            <span th:if="${#fields.hasErrors('dateFin')}" th:errors="*{dateFin}">Date End Error</span>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Type d'arme*</label>
                            <div class="col-sm-10">
                                <div>
                                    <select class="form-control" th:field="*{type}" th:disabled="${edit_type_arme}">
                                        <option th:each="typeArme : ${typesArmes}" th:value="${typeArme.getId()}" th:text="${typeArme.getNom()}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary contact-btn">
                        <i class="fa fa-check" aria-hidden="true"></i>  Valider</button>

                    <span th:text="${erreurs}" th:style="'color:red'" />
                </form>
            </div>
        </th:block>
    </body>
</html>