<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <title>JTV</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <th:block layout:fragment="breadcrump">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item"><a th:href="@{/annees}">Années</a></li>
            </ol>
        </nav>
    </th:block>
    <th:block layout:fragment="content">
        <div class="container pb-3 pt-3">
            <form th:object="${annee}" th:action="${annee.getId()}?@{/annees}+'/'+${annee.getId()}+'/update':@{/annees}" method="post">
                <div class="pb-3 row">
                    <h1 class="col"><span th:text="${annee.getId()}?'Modification d\'une année':'Ajout d\'une année'"/></h1>

                    <span class="pull-right"><th:block
                            th:include="help/help :: modalHelp('ajoutAnnee')"></th:block></span>
                </div>
                <div class="pt-3 pb-3">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nom</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" th:field="*{nom}" th:value="${annee?.getNom()}"/>
                        </div>
                        <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="alert alert-danger">Name Error</span><br/>
                    </div>

                    <button type="submit" class="btn btn-primary contact-btn">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Valider
                    </button>

                    <span th:text="${erreurs}" th:style="'color:red'"/>
                </div>
            </form>
        </div>
    </th:block>
</body>
</html>