<!DOCTYPE html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8" />
    <title>JTV - Fiche moniteur</title>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/moniteurs}">Moniteurs</a></li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <div class="container pb-3 pt-3">

        <form th:object="${moniteur}" th:action="${moniteur.getId()}?@{/moniteurs/}+${moniteur.getId()}+'/update':@{/moniteurs/add}" method="post">
            <div class="pb-3">
                <h1><span th:text="${moniteur.getId()}?'Modification d\'un moniteur':'Ajout d\'un moniteur'"/></h1>
            </div>

            <span class="pull-right"><th:block
                    th:include="help/help :: modalHelp('ajoutMoniteur')"></th:block></span>

            <div class="pt-3 pb-3">
                <div class="pt-2 pb-2">
                    <h5>Informations du moniteur</h5>
                </div>
                <div class="pt-3 pb-2">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Titre*</label>
                        <div class="col-sm-10">
                            <select th:field="*{titre}" class="form-control">
                                <option th:each="eTitre : ${enumTitre}" th:value="${eTitre.getTitre()}" th:text="${eTitre.getTitre()}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nom*</label>
                        <div class="col-sm-10">
                            <input id="inputName" type="text" th:field="*{nom}" class="form-control" placeholder="Nom du moniteur" th:value="${moniteur?.getNom()}" data-clear-btn="true"/>
                        </div>
                        <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="alert alert-danger">Name Error</span>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Prénom*</label>
                        <div class="col-sm-10">
                            <input id="inputPrenom" type="text" th:field="*{prenom}" class="form-control" placeholder="Prénom du moniteur" th:value="${moniteur?.getPrenom()}" data-clear-btn="true"/>
                        </div>
                        <span th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}" class="alert alert-danger">Firstname Error</span>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Date de Naissance*</label>
                        <div class="col-sm-9">
                            <input id="inputNaissance" data-role="date" type="date" class="form-control" th:field="*{dateNaissance}" th:value="${moniteur?.getDateNaissance()}" data-clear-btn="true"/>
                        </div>
                        <button type="button" class="btn btn-secondary col-sm-1" data-toggle="tooltip" data-placement="top" th:title="'Un tireur doit avoir au moins ' + ${ageMin} + ' ans.'"><!---->
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </button>
                        <span th:if="${#fields.hasErrors('dateNaissance')}" th:errors="*{dateNaissance}" class="alert alert-danger">dateNaissance Error</span>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Email*</label>
                        <div class="col-sm-10">
                            <input id="inputEmail" type="email" th:field="*{email}" class="form-control" placeholder="Email du moniteur" th:value="${moniteur?.getEmail()}"/>
                        </div>
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger">email Error</span>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">N° natel*</label>
                        <div class="col-sm-10">
                            <input id="inputNumNatel" type="text" th:field="*{numNatel}" class="form-control" placeholder="N° natel du moniteur" th:value="${moniteur?.getNumNatel()}"/>
                        </div>
                        <span th:if="${#fields.hasErrors('numNatel')}" th:errors="*{numNatel}" class="alert alert-danger">numNatel Error</span>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">N° téléphone*</label>
                        <div class="col-sm-10">
                            <input id="inputNumTel" type="text" th:field="*{numTelephone}" class="form-control" placeholder="N° téléphone du moniteur" th:value="${moniteur?.getNumTelephone()}"/>
                        </div>
                        <span th:if="${#fields.hasErrors('numTelephone')}" th:errors="*{numTelephone}" class="alert alert-danger">numTelephone Error</span>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Adresse*</label>
                        <div class="col-sm-10">
                            <input id="inputAdresse" type="text" th:field="*{adresse}" class="form-control" placeholder="Adresse du moniteur" th:value="${moniteur?.getAdresse()}"/>
                        </div>
                        <span th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}" class="alert alert-danger">adresse Error</span>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">NPA*</label>
                        <div class="col-sm-10">
                            <input id="inputNPA" type="text" th:field="*{npa}" class="form-control" placeholder="NPA du moniteur" th:value="${moniteur?.getNpa()}"/>
                        </div>
                        <span th:if="${#fields.hasErrors('npa')}" th:errors="*{npa}" class="alert alert-danger">npa Error</span>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Localité*</label>
                        <div class="col-sm-10">
                            <input id="inputLocalite" type="text" th:field="*{localite}" class="form-control" placeholder="Localité du moniteur" th:value="${moniteur?.getLocalite()}"/>
                        </div>
                        <span th:if="${#fields.hasErrors('localite')}" th:errors="*{localite}" class="alert alert-danger">localite Error</span>
                    </div>
                </div>
            </div>
            <div class="pt-2 pb-3" th:unless="${moniteur?.getId()}" >
                <div class="pb-2">
                    <h5>Utilisateur</h5>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nom d'utilisateur*</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{username}" class="form-control" placeholder="Nom d'utilisateur du moniteur" th:value="${moniteur?.getUsername()}"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Mot de passe*</label>
                    <div class="col-sm-9">
                        <input type="password" th:field="*{password}" class="form-control" placeholder="Mot de passe du moniteur" th:value="${moniteur.getId()}?'hello'"/>
                    </div>
                    <!-- GD 02 – Mot de passe -->
                    <button type="button" class="btn btn-secondary col-sm-1" data-toggle="tooltip" data-placement="top" th:title="'Le mot de passe doit avoir au moins 8 caractères dont au moins 1 majuscule, 1 minuscule et 1 chiffre.'">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="form-group row" th:if="${#httpServletRequest.isUserInRole('DIRECTEUR')}">
                    <label class="col-sm-2 col-form-label">Niveau de droit*</label>
                    <div class="col-sm-9">
                        <select class="form-control" th:field="*{level}">
                            <option th:each="level : ${enumDroit}" th:value="${level.getCode()}" th:text="${level.getDroit()}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary contact-btn">
                <i class="fa fa-check" aria-hidden="true"></i>  Valider</button>
        </form>
    </div>
</th:block>
</body>
</html>