<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>JTV - Fiche cours</title>
    <script th:src="@{/assets/js/jquery-2.1.1.min.js}"></script>
    <script th:src="@{/assets/js/dynamic_list_helper.js}"></script>
    <script th:src="@{/assets/js/addProgrammeAnnee.js}"></script>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/saisons}">Saisons</a></li>
            <li class="breadcrumb-item active"><span th:text="${idSaison}"/></li>
            <li class="breadcrumb-item"><a th:href="@{/saisons}+'/'+${idSaison}+'/cours'">Cours</a></li>
            <!--<li class="breadcrumb-item active" aria-current="page">Ajouter</li>-->
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <div class="container pt-3 pb-3">
        <form th:object="${cours}"
              th:action="${cours.getId()}?@{/saisons}+'/'+${idSaison}+'/cours/'+${cours.getId()}+'/update':@{/saisons}+'/'+${idSaison}+'/cours'"
              method="post" id="coursForm">

            <div class="pb-5">
                <h1><span th:text="${cours.getId()}?'Modification d\'un cours':'Ajout d\'un cours'"/></h1>

                <span class="pull-right"><th:block
                        th:include="help/help :: modalHelp('ajoutCours')"></th:block></span>
            </div>
            <div class="pt-3 pb-3">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nom*</label>
                    <div class="col-sm-10">
                        <input class="form-control" th:field="*{nom}" th:value="${cours?.getNom()}" type="text"/>
                    </div>
                    <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"
                          class="alert alert-danger">Name Error</span><br/>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Lieu*</label>
                    <div class="col-sm-10">
                        <input class="form-control" th:field="*{lieu}" th:value="${cours?.getLieu()}" type="text"/>
                    </div>
                    <span th:if="${#fields.hasErrors('lieu')}" th:errors="*{lieu}"
                          class="alert alert-danger">Lieu Error</span><br/>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Date*</label>
                    <div class="col-sm-10">
                        <input class="form-control" th:field="*{dateCours}" th:value="${cours?.getDateCours()}" type="date"/>
                    </div>
                    <span th:if="${#fields.hasErrors('dateCours')}" th:errors="*{dateCours}"
                          class="alert alert-danger">Date Error</span><br/>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Heure début*</label>
                    <div class="col-sm-10">
                        <input class="form-control" th:field="*{heureDebut}" th:value="${cours?.getHeureDebut()}"
                               type="time"/>
                    </div>
                    <span th:if="${#fields.hasErrors('heureDebut')}" th:errors="*{heureDebut}"
                          class="alert alert-danger">Start Hour Error</span><br/>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Heure fin*</label>
                    <div class="col-sm-10">
                        <input class="form-control" th:field="*{heureFin}" th:value="${cours?.getHeureFin()}"
                               type="time"/>
                    </div>
                    <span th:if="${#fields.hasErrors('heureFin')}" th:errors="*{heureFin}"
                          class="alert alert-danger">End Hour Error</span><br/>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Temps de pause*</label>
                    <div class="col-sm-10">
                        <input class="form-control" th:field="*{tempsPause}" th:value="${cours?.getTempsPause()}"
                               type="number" min="0"
                               max="60"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Temps de nettoyage*</label>
                    <div class="col-sm-10">
                        <input class="form-control" th:field="*{tempsNettoyage}"
                               th:value="${cours?.getTempsNettoyage()}" type="number"
                               min="0"
                               max="60"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Postes</label>
                    <div class="col-sm-9">
                        <select class="form-control" th:field="*{postes}" multiple="multiple" >
                            <option th:each="poste : ${postes}" th:value="${{poste.getId()}}"
                                    th:text="${poste.getNom()}"></option>
                        </select>
                    </div>
                    <div class="form-group row col-sm-1">
                        <!-- RG 04 - Nombre de postes minimum -->
                        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" th:title="'Pour générer le planning du cours et la répartition des groupes, il faut au moins '+${minPoste}+' postes.'">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <div class="border rounded pt-2 pb-3 pl-3 pr-3 mb-2 mt-3"  th:if="${programmes!=null} and ${programmes.size()>0}">
                    <div class="pt-3 pb-3 row">
                        <div class="col">
                            <label>Programmes du cours</label>
                        </div>
                        <div class="col text-right">
                            <button id="addProgAnn" type="button" class="btn btn-success"> <i class="fa fa-plus" aria-hidden="true">
                            </i> Nouveau programme</button>
                        </div>
                    </div>
                    <div>
                        <table class="table table-striped" id="tabPasse">
                            <thead>
                            <tr>
                                <th scope="col">Année</th>
                                <th scope="col">Programme</th>
                                <th scope="col">#</th>
                            </tr>
                            </thead>
                            <tbody id="programmesContainer">
                            <div th:each="progannee,status : ${cours.programmesAnnee}">
                                <tr class="progtoadd">
                                    <td>
                                        <select th:field="*{programmesAnnee[__${status.index}__].annee}" class="form-control" >
                                            <option th:each="ann : ${annees}" th:value="${ann.id}" th:text="${ann.nom}"></option>
                                        </select>
                                    </td>
                                    <td>
                                        <select th:field="*{programmesAnnee[__${status.index}__].programme}" class="form-control">
                                            <option th:each="pro : ${programmes}" th:value="${pro.id}" th:text="${pro.nom}"></option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-sm" data-confirm="Voulez-vous vraiment effacer supprimer ce programme pour le cours?">Del</button>
                                    </td>
                                </tr>
                            </div>
                            <div th:if="*{programmesAnnee==null || programmesAnnee.isEmpty()}">
                                <tr class="progtoadd">
                                    <td>
                                        <select id="programmesAnnee0.annee" name="programmesAnnee[0].annee"  class="form-control" >
                                            <option th:each="ann : ${annees}" th:value="${ann.id}" th:text="${ann.nom}"></option>
                                        </select>
                                    </td>
                                    <td>
                                        <select id="programmesAnnee0.programme" name="programmesAnnee[0].programme" class="form-control">
                                            <option th:each="pro : ${programmes}" th:value="${pro.id}" th:text="${pro.nom}"></option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-sm" data-confirm="Voulez-vous vraiment effacer supprimer ce programme pour le cours?"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div th:if="${programmes==null} or ${programmes.size()==0}">
                                <span th:text="'Créer des programmes pour cette saison avant de les attribuer aux années pour ce cours.'"
                                      th:style="'color:red'">"</span>
                </div>
                <button class="btn btn-primary" type="submit" value="Valider">
                    <i class="fa fa-check" aria-hidden="true"></i>  Valider</button>
                <div th:each="e : ${erreurs}"><span  th:text="${e}" th:style="'color:red'"></span></div>
            </div>
        </form>
    </div>
</th:block>
</body>
</html>



<!--<div class="form-group row">-->
<!--<label class="col-sm-2 col-form-label">Programmes</label>-->
<!--<div class="col-sm-10">-->
<!--<select class="form-control">-->
<!--<option th:each="programme : ${programmes}" th:value="${programme.getId()}"-->
<!--th:text="${programme.toString()}"></option>-->
<!--</select>-->
<!--</div>-->
<!--</div>-->

<!--<div class="form-group row">-->
<!--<label class="col-sm-2 col-form-label">Année</label>-->
<!--<div class="col-sm-10">-->
<!--<select class="form-control">-->
<!--<option th:each="annee : ${annees}" th:value="${annee.getId()}"-->
<!--th:text="${annee.getNom()}"></option>-->
<!--</select>-->
<!--</div>-->
<!--</div>-->
