<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Attribution des armes - STE Versoix Manager</title>
</head>
<body>
    <th:block layout:fragment="breadcrump">
        <nav id="breadcrump" aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item"><a th:href="@{/saisons}">Saisons</a></li>
                <li class="breadcrumb-item active"><span th:text="${saison.getId()}"/></li>
                <li class="breadcrumb-item active" aria-current="page">attribution d'armes</li>
            </ol>
        </nav>
    </th:block>
    <th:block layout:fragment="content">
        <ul id="tabs" class="nav nav-tabs">
            <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
                <a class="nav-link" th:href="'/saisons/'+${saison.getId()}">
                    <i class="fa fa-columns" aria-hidden="true"></i> Résumé</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/inscrits'">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i> Inscriptions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/cours'">
                    <i class="fa fa-calendar" aria-hidden="true"></i> Cours</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/concours'">
                    <i class="fa fa-trophy" aria-hidden="true"></i>  Concours</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/programmes'">
                    <i class="fa fa-tasks" aria-hidden="true"></i> Programmes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <i class="fa fa-rebel" aria-hidden="true"></i> Attribution d'armes</a>
            </li>
            <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
                <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/statistique'">
                    <i class="fa fa-calculator" aria-hidden="true"></i> Statistique</a>
            </li>
        </ul>

        <div class="pt-4 pb-2">
            <H1>Attribution d'armes</H1>
        </div>
        <div class="mx-auto" style="width: 95%;">
            <!--<div class="row">
                <div class="text-right">
                    <button class="btn btn-outline-primary contact-btn" type="submit" id="btnimprimer">
                        <i class="fa fa-print" aria-hidden="true"></i></button>
                    <span class="pull-right"><th:block
                            th:include="help/help :: modalHelp('attributionArme')"></th:block></span>
                </div>
            </div>-->

            <span class="pull-right">
                    <button class="btn btn-outline-primary contact-btn float-right pr-2" type="submit" id="btnimprimer">
                    <i class="fa fa-print" aria-hidden="true"></i></button>
                    <th:block
                            th:include="help/help :: modalHelp('attributionArme')"></th:block>

                </span>


            <div class="pt-2 pb-3">
                <h5>Jeunes tireurs</h5>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Nom Prénom</th>
                        <th scope="col" class="text-center">Année</th>
                        <th scope="col" class="text-center">Arme</th>
                        <th scope="col" class="text-center" id="dont-print">#</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="insJT : ${JTinscrits}">
                        <td>
                            <a th:href="@{/jeunestireurs}+'/'+${insJT.getTireur().getId()}+'/details'">
                                <span th:text="${insJT.getTireur().getFullName()}"></span>
                            </a>
                        </td>
                        <td class="text-center" th:text="${insJT.getAnnee()?.getNom()}"></td>
                        <td class="text-center">
                            <label th:text="${insJT.getArme()?.getId()}"/>
                            <button th:unless="${saison.isSaisonFinished()}" type="button"
                                    class="btn btn-light dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a th:each="arme : ${lstArmes}" class="dropdown-item" th:href="@{/saisons/__${saison.getId()}__/attributionarme/attribue(ins=__${insJT.getId()}__,arm=__${arme.getId()}__)}"><div th:text="${arme.getId()}"/></a>
                            </div>
                        </td>
                        <td class="text-center" id="dont-print"><a th:if="${insJT.getArme() != null}" th:unless="${saison.isSaisonFinished()}" th:href="|@{/saisons/}${saison.getId()}/attributionarme/enlever/${insJT.getId()}|">Enlever arme</a></td>
                    </tr>
                    </tbody>
                </table>
                <label class="text-danger" th:if="${JTinscrits}==null OR ${JTinscrits.isEmpty()}">
                    Aucun jeune tireur n'est inscrit à la saison.
                </label>
            </div>
            <div class="pt-2 pb-3">
                <h5>Moniteurs</h5>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Nom Prénom</th>
                        <th scope="col" class="text-center">Arme</th>
                        <th scope="col" class="text-center" id="dont-print">#</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="insMON : ${MONinscrits}">
                        <td>
                            <a th:href="@{/moniteurs}+'/'+${insMON.getTireur().getId()}+'/details'">
                                <span th:text="${insMON.getTireur().getFullName()}"></span>
                            </a>
                        </td>
                        <td class="text-center">
                            <label th:text="${insMON.getArme()?.getId()}"/>
                            <button type="button" th:unless="${saison.isSaisonFinished()}"
                                    class="btn btn-light dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a th:each="arme : ${lstArmes}" class="dropdown-item" th:href="@{/saisons/__${saison.getId()}__/attributionarme/attribue(ins=__${insMON.getId()}__,arm=__${arme.getId()}__)}"><div th:text="${arme.getId()}"/></a>
                             </div>
                        </td>
                        <td class="text-center" id="dont-print"><a th:if="${insMON.getArme() != null}" th:unless="${saison.isSaisonFinished()}" th:href="|@{/saisons/}${saison.getId()}/attributionarme/enlever/${insMON.getId()}|">Enlever arme</a></td>
                    </tr>
                    </tbody>
                </table>
                <label class="text-danger" th:if="${MONinscrits}==null OR ${MONinscrits.isEmpty()}">
                    Aucun moniteur n'est inscrit à la saison.
                </label>
            </div>
        </div>
    </th:block>
</body>
</html>