<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Changement mp - STE Versoix Manager</title>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Changer mot de passe</li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <!-- <form th:object="${tireur}" th:action="${lien}+'/'+${tireur.getId()}+'/updateDroit'" method="post"> -->
    <div class="container pt-3 pb-3">
        <form th:object="${nPass}" th:action="@{/tireurs/}+${user.getId()}+'/updateDroit'" method="post">
            <div class="pt-4 pb-3 row">
                <h1 class="col">Modifier son mot de passe</h1>
                <div class="text-right col">
                    <span><th:block
                            th:include="help/help :: modalHelp('changerMotPasse')"></th:block></span>
                </div>
            </div>

            <div class="pt-3 pb-3 col">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Nouveau mot de passe</label>
                    <div class="col-sm-7">
                        <input class="form-control" th:field="*{newPassword}" type="password" />
                    </div>
                    <!-- GD 02 – Mot de passe -->
                    <button type="button" class="col-sm-1 btn btn-secondary" data-toggle="tooltip" data-placement="top" th:title="'Le mot de passe doit avoir au moins 8 caractères dont au moins 1 majuscule, 1 minuscule et 1 chiffre.'">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Confirmer le  nouveau mot de passe</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="*{reNewPassword}" type="password" />
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary contact-btn">
                <i class="fa fa-check" aria-hidden="true"></i>  Valider
            </button>
        </form>
    </div>
</th:block>
</body>
</html>