<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8" />
    <title>JTV - Détails du jeune tireur</title>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><a th:href="@{/jeunestireurs}">Jeunes tireurs</a></li>
            <li class="breadcrumb-item active">
                <span th:text="${jeunetireur.getId()}">sid</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Détails</li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <div class="container pt-3 pb-3">
        <form th:object="${jeunetireur}" method="get">
            <div class="pt-3">
                <h1><i class="fa fa-id-badge" aria-hidden="true"></i>   Détail du jeune tireur</h1>
            </div>
            <div class="text-right pb-3">
                <button class="btn btn-primary contact-btn" type="submit" th:formaction="'/jeunestireurs/'+${jeunetireur.getId()}+'/edit'">
                    <i class="fa fa-edit" aria-hidden="true"></i>  Modifier</button>
            </div>
            <div>
                <div class="border rounded pt-2 pb-2 pl-3 pr-3">
                    <div class="pt-3 pb-3">
                        <h5>Informations du jeune tireur</h5>
                    </div>
                    <div class="form-group row m-0">
                        <label class="col-sm-2">Titre</label>
                        <div class="col-sm-10">
                            <span th:text="${titre}"/>
                        </div>
                    </div>

                    <div class="form-group row m-0">
                        <label class="col-sm-2">Nom</label>
                        <div class="col-sm-10">
                            <span th:text="${jeunetireur?.getNom()}" />
                        </div>
                    </div>

                    <div class="form-group row m-0">
                        <label class="col-sm-2">Prénom</label>
                        <div class="col-sm-10">
                            <span th:text="${jeunetireur?.getPrenom()}" />
                        </div>
                    </div>

                    <div class="form-group row m-0">
                        <label class="col-sm-2">Date de Naissance</label>
                        <div class="col-sm-10">
                            <span th:text="${#dates.format(jeunetireur?.getDateNaissance(),'dd.MM.yyyy')}" />
                        </div>
                    </div>

                    <div class="form-group row m-0">
                        <label class="col-sm-2">Email</label>
                        <div class="col-sm-10">
                            <span th:text="${jeunetireur?.getEmail()}" />
                        </div>
                    </div>

                    <div class="form-group row m-0">
                        <label class="col-sm-2">N° natel</label>
                        <div class="col-sm-10">
                            <span th:text="${jeunetireur?.getNumNatel()}"/>
                        </div>
                    </div>

                    <div class="form-group row m-0">
                        <label class="col-sm-2">N° téléphone</label>
                        <div class="col-sm-10">
                            <span th:text="${jeunetireur?.getNumTelephone()}"/>
                        </div>
                    </div>

                    <div class="form-group row m-0">
                        <label class="col-sm-2">Adresse</label>
                        <div class="col-sm-10">
                            <span th:text="${jeunetireur?.getAdresse()}"/>
                        </div>
                    </div>

                    <div class="form-group row m-0">
                        <label class="col-sm-2">NPA</label>
                        <div class="col-sm-10">
                            <span th:text="${jeunetireur?.getNpa()}"/>
                        </div>
                    </div>

                    <div class="form-group row m-0">
                        <label class="col-sm-2">Localité</label>
                        <div class="col-sm-10">
                            <span th:text="${jeunetireur?.getLocalite()}"/>
                        </div>
                    </div>
                </div>

                <div class="border rounded mt-3 pt-2 pb-2 pl-3 pr-3">
                    <div class="pt-3 pb-3">
                        <h5>Informations du parent</h5>
                    </div>

                    <div class="form-group row m-0">
                        <label class="col-sm-2">Nom parent</label>
                        <div class="col-sm-10">
                            <span th:text="${jeunetireur?.getNomParent()}"/>
                        </div>
                    </div>

                    <div class="form-group row m-0">
                        <label class="col-sm-2">Prénom parent</label>
                        <div class="col-sm-10">
                            <span th:text="${jeunetireur?.getPrenomParent()}"/>
                        </div>
                    </div>

                    <div class="form-group row m-0">
                        <label class="col-sm-2">Adresse parent</label>
                        <div class="col-sm-10">
                            <span th:text="${jeunetireur?.getAdresseParent()}"/>
                        </div>
                    </div>

                    <div class="form-group row m-0">
                        <label class="col-sm-2">Npa parent</label>
                        <div class="col-sm-10">
                            <span th:text="${jeunetireur?.getNpaParent()}"/>
                        </div>
                    </div>

                    <div class="form-group row m-0">
                        <label class="col-sm-2">Localité parent</label>
                        <div class="col-sm-10">
                            <span th:text="${jeunetireur?.getLocaliteParent()}"/>
                        </div>
                    </div>

                    <div class="form-group row m-0">
                        <label class="col-sm-2">N° natel parent</label>
                        <div class="col-sm-10">
                            <span th:text="${jeunetireur?.getNumNatelParent()}"/>
                        </div>
                    </div>
                </div>
                <div class="border rounded mt-3 pt-2 pb-2 pl-3 pr-3">
                    <div class="pt-3 pb-3">
                        <h5>Utilisateur</h5>
                    </div>
                    <div class="form-group row m-0">
                        <label class="col-sm-2">Nom d'utilisateur</label>
                        <div class="col-sm-10">
                            <span th:text="${jeunetireur?.getUsername()}"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="border rounded mt-3 pt-2 pb-2 pl-3 pr-3">
                <h5>Inscriptions</h5>
                <div class="mx-auto" style="width: 95%;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Saison</th>
                                <th scope="col" class="text-center">Type</th>
                                <th scope="col" class="text-center">Année</th>
                                <th scope="col" class="text-center">Arme</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="insc : ${inscriptions}">
                                <td>
                                    <a th:href="'/saisons/'+${insc.getSaison().getId()}+'/inscrits'">
                                        <span th:text="'Saison '+${#dates.format(insc.getSaison().getDateDebut(),'dd.MM.yyyy')}+' - '+${#dates.format(insc.getSaison().getDateFin(),'dd.MM.yyyy')}"
                                              data-toggle="tooltip" data-placement="bottom" title="Gestion de la saison"></span>
                                    </a>
                                </td>
                                <td class="text-center"><span th:text="${insc.getSaison().getType().getNom()}" /></td>
                                <td class="text-center"><span th:text="${insc.getAnnee().getNom()}" /></td>
                                <td class="text-center"><span th:text="${insc.getArme()?.getId()}" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <label class="text-danger" th:if="${inscriptions}==null OR ${inscriptions.isEmpty()}">
                        Le jeune tireur n'est inscrit à aucune saison.
                    </label>
                </div>
            </div>
        </form>
    </div>
</th:block>
</body>
</html>