<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title th:text="|${status} - STE Versoix Manager|">404 - STE Versoix Manager</title>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav id="breadcrump" aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${status}">404</li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <h1 class="text-center" th:text="${status}">404</h1>
    <h1 class="text-center" th:text="${error}">Not found</h1>
    <p class="text-center"><i class="fa fa-rocket fa-lg" aria-hidden="true"></i></p>
    <p class="text-center" th:text="${message}">
        This page is not available
    </p>
</th:block>
</body>
</html>