<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
    <head>
        <meta charset="UTF-8" />
        <title>Gestion des postes - STE Versoix Manager</title>
    </head>
    <body>
        <th:block layout:fragment="breadcrump">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Postes</li>
                </ol>
            </nav>
        </th:block>
        <th:block layout:fragment="content">
            <div class="pt-4 pb-3">
                <H1>Gestion des postes</H1>
            </div>
            <div class="mx-auto" style="width: 95%;">
                <div class="pt-3 pb-3">
                    <form method="get">
                        <input class="btn btn-primary contact-btn" type="submit" value="Ajouter"
                               th:formaction="@{/postes}+'/add'" th:if="${actif}"/>
                        <input class="btn btn-outline-secondary" type="submit" value="Voir les inactifs"
                               th:formaction="@{/postes}+'/inactifs'"
                               th:if="${actif} and ${#httpServletRequest.isUserInRole('DIRECTEUR')}"/>
                        <input class="btn btn-success" type="submit" value="Retour aux actifs"
                               th:formaction="@{/postes}" th:unless="${actif}"/>

                        <span class="float-right"><th:block
                                th:include="help/help :: modalHelp('gestionPostes')"></th:block></span>
                    </form>
                </div>

                <div class="pb-2 form-group row">
                    <h5 class="col-sm-1 col-form-label">Recherche</h5>
                    <div class="col-sm-11">
                        <input class="form-control" id="myInput" type="text" placeholder="..."/>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                    </tr>
                    </thead>
                    <tbody id="myTable">
                    <tr th:each="poste : ${postes}">
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-navicon fa-fw" aria-hidden="true"></i> Action
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" th:href="@{/postes}+'/'+${poste.getId()}+'/edit'" th:if="${actif}"><i class="fa fa-pencil fa-fw"></i> Éditer</a>
                                    <a class="dropdown-item text-danger" href="#" th:if="${actif} and ${#httpServletRequest.isUserInRole('DIRECTEUR')}" data-toggle="modal" th:attr="data-target='#desactiverPoste'+${poste.getId()}+'Modal'"><i class="fa fa-times-circle-o fa-fw"></i>Désactiver</a>
                                    <a class="dropdown-item" href="#" th:unless="${actif}" data-toggle="modal" th:attr="data-target='#activerPoste'+${poste.getId()}+'Modal'"><i class="fa fa-check-circle-o fa-fw" aria-hidden="true"></i>Activer</a>
                                </div>
                            </div>
                            <!-- Modal desactiver poste-->
                            <div class="modal fade" th:id="|desactiverPoste${poste.getId()}Modal|" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <form th:action="|@{postes}/${poste.getId()}/desactivate|" method="get">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Désactiver le poste</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Êtes-vous sûr de vouloir désactiver &laquo; <span
                                                    th:text="'Poste '+${poste.getId()}+ ': '+${poste.getNom()}"/> &raquo; ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                <button type="submit" class="btn btn-danger">Désactiver</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Modal activer poste-->
                            <div class="modal fade" th:id="|activerPoste${poste.getId()}Modal|" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <form th:action="|@{/postes}/${poste.getId()}/activate|" method="get">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Activer le poste</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Êtes-vous sûr de vouloir activer &laquo; <span
                                                    th:text="'Poste '+${poste.getId()}+ ': '+${poste.getNom()}"/> &raquo; ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                <button type="submit" class="btn btn-danger">Activer</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </td>
                        <td th:text="${poste.getNom()}"></td>
                    </tr>
                    </tbody>
                </table>
                <label class="text-danger" th:if="${postes}==null OR ${postes.isEmpty()}">
                    La base de données ne contient aucun poste.
                </label>
            </div>
        </th:block>
    </body>
</html>