<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Inscriptions - STE Versoix Manager</title>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/saisons}">Saisons</a></li>
            <li class="breadcrumb-item active"><span th:text="${saison.getId()}"/></li>
            <li class="breadcrumb-item active" aria-current="page">concours</li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}">
                <i class="fa fa-columns" aria-hidden="true"></i>  Résumé</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/inscrits'">
                <i class="fa fa-address-card-o" aria-hidden="true"></i>  Inscriptions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/cours'">
                <i class="fa fa-calendar" aria-hidden="true"></i>  Cours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <i class="fa fa-trophy" aria-hidden="true"></i>  Concours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/programmes'">
                <i class="fa fa-tasks" aria-hidden="true"></i>  Programmes</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/attributionarme'">
                <i class="fa fa-rebel" aria-hidden="true"></i> Attribution d'armes</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/statistique'">
                <i class="fa fa-calculator" aria-hidden="true"></i> Statistique</a>
        </li>
    </ul>

    <div class="pt-4 pt-3">
        <H1>Gestion des concours</H1>
    </div>
    <div class="mx-auto" style="width: 95%;">
        <form method="get">
            <div class="pt-3 pb-3">
                <!-- RA 03 - Concours -->
                <input class="btn btn-primary contact-btn" type="submit" value="Ajouter"
                       th:formaction="'/saisons/'+${saison.getId()}+'/concours/add'"
                       th:if="${actif} and ${#httpServletRequest.isUserInRole('MONITEUR')}"
                       th:unless="${saison.isSaisonFinished()}"/>
                <input class="btn btn-outline-secondary" type="submit" value="Voir les inactifs"
                       th:formaction="'/saisons/'+${saison.getId()}+'/concours/inactifs'"
                       th:if="${actif} and ${#httpServletRequest.isUserInRole('MONITEUR')}"/>
                <input class="btn btn-success" type="submit" value="Retour aux actifs"
                       th:formaction="'/saisons/'+${saison.getId()}+'/concours'"
                       th:if="${#httpServletRequest.isUserInRole('MONITEUR')}" th:unless="${actif}"/>

                <span class="float-right"><th:block
                        th:include="help/help :: modalHelp('gestionConcours')"></th:block></span>
            </div>
        </form>

        <div class="pb-2 form-group row">
            <h5 class="col-sm-1 col-form-label">Recherche</h5>
            <div class="col-sm-11">
                <input class="form-control" id="myInput" type="text" placeholder="..."/>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th class="text-center" scope="col">Nom</th>
                <th class="text-center" scope="col">Date</th>
                <th class="text-center" scope="col">Lieu</th>
                <th class="text-center" scope="col">Prix</th>
                <th class="text-center" scope="col">Licence</th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr th:each="co : ${concours}">
                <td>
                    <div class="dropdown" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}" th:unless="${saison.isSaisonFinished()}">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-navicon fa-fw" aria-hidden="true"></i> Action
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <!-- RM 06 - concours éditable à tout moment -->
                            <a class="dropdown-item" th:if="${actif}"
                               th:href="'/saisons/'+${saison.getId()}+'/concours/'+${co.getId()}+'/edit'"><i
                                    class="fa fa-pencil fa-fw"></i>Éditer</a>
                            <a class="dropdown-item text-danger" th:if="${actif} and ${#httpServletRequest.isUserInRole('MONITEUR')}" href="#"
                               title="désactiver" data-toggle="modal"
                               th:attr="data-target='#desactiverConcours'+${co.getId()}+'Modal'"><i
                                    class="fa fa-times-circle-o fa-fw"></i> Désactiver</a>
                            <!-- RS 01 -->
                            <a class="dropdown-item" th:unless="${actif}" href="#"
                               title="activer" data-toggle="modal"
                               th:attr="data-target='#activerConcours'+${co.getId()}+'Modal'"><i
                                    class="fa fa-check-circle-o fa-fw"></i>Activer</a>
                        </div>
                    </div>
                    <!-- Modal désactiver-->
                    <div class="modal fade" th:id="|desactiverConcours${co.getId()}Modal|" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <form th:action="@{/saisons}+'/'+${saison.getId()}+'/'+@{/concours}+'/'+${co.getId()}+'/desactivate'" method="GET">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Désactiver le Concours</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir désactiver &laquo; <span
                                            th:text="'Concours '+${co.getId()}+ ': '+${#dates.format(co.getDateConcours(), 'dd.MM.yyyy')}"/> &raquo; ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-danger">Désactiver</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Modal activer -->
                    <div class="modal fade" th:id="|activerConcours${co.getId()}Modal|" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <form th:action="@{/saisons}+'/'+${saison.getId()}+'/'+@{/concours}+'/'+${co.getId()}+'/activate'" method="GET">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Activer le Concours</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir activer &laquo; <span
                                            th:text="'Concours '+${co.getId()}+ ': '+${#dates.format(co.getDateConcours(), 'dd.MM.yyyy')}"/> &raquo; ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-succes">Activer</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
                <td class="text-center" th:text="${co.getNom()}">
                </td>
                <td class="text-center" th:text="${#dates.format(co.getDateConcours(), 'dd.MM.yyyy')}"></td>

                <td class="text-center" th:text="${co.getLieu()}"></td>
                <td class="text-center" th:text="${co.getPrix()}"></td>
                <td class="text-center">
                    <div th:if="${co.isLicence()}">
                        <i class="fa fa-check-square-o" aria-hidden="true" data-toggle="tooltip"
                           data-placement="bottom" title="Licence obligatoire"></i>
                    </div>
                    <div th:if="not ${co.isLicence()}">
                        <i class="fa fa-square-o" aria-hidden="true" data-toggle="tooltip"
                           data-placement="bottom" title="Licence facultative"></i>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <label class="text-danger" th:if="${concours}==null OR ${concours.isEmpty()}">
            La saison n'a pas de concours enregistré.
        </label>
    </div>
    <span th:text="${erreurs}" th:style="'color:red'"/>
</th:block>
</body>
</html>