<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <title>Gestion des saisons - STE Versoix Manager</title>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Saisons</li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <div class="pt-4 pb-3">
        <H1>Gestion des saisons</H1>
    </div>
    <div class="mx-auto" style="width: 95%;">
        <form method="get">
            <div class="pt-3 pb-4">
                <input class="btn btn-primary contact-btn" type="submit" value="Ajouter"
                       th:formaction="@{/saisons}+'/add'"
                       th:if="${actif} and ${#httpServletRequest.isUserInRole('DIRECTEUR')}"/>
                <input class="btn btn-outline-secondary" type="submit" value="Voir les inactifs"
                       th:formaction="@{/saisons}+'/inactifs'"
                       th:if="${actif} and ${#httpServletRequest.isUserInRole('DIRECTEUR')}"/>
                <input class="btn btn-success" type="submit" value="Retour aux actifs" th:formaction="@{/saisons}"
                       th:if="${#httpServletRequest.isUserInRole('DIRECTEUR')}" th:unless="${actif}"/>

                <span class="float-right"><th:block
                        th:include="help/help :: modalHelp('gestionsaison')"></th:block></span>

            </div>
        </form>

        <div class="pb-2 form-group row">
            <h5 class="col-sm-1 col-form-label">Recherche</h5>
            <div class="col-sm-11">
                <input class="form-control" id="myInput" type="text" placeholder="..."/>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center" scope="col">#</th>
                    <th class="text-center" scope="col">Nom</th>
                    <th class="text-center" scope="col">Date debut</th>
                    <th class="text-center" scope="col">Date fin</th>
                </tr>
            </thead>
            <tbody id="myTable">
            <tr th:each="saison : ${saisons}">
                <td>
                    <div class="dropdown" >
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-navicon fa-fw" aria-hidden="true"></i> Action
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a th:if="${actif}" class="dropdown-item" th:href="@{/saisons}+'/'+${saison.getId()}+'/change'"><i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
                                Afficher sur l'accueil</a>
                            <a class="dropdown-item" th:if="${#httpServletRequest.isUserInRole('DIRECTEUR')} and ${saison.isSaisonEditable()} and ${actif}" href="#"
                               th:href="@{/saisons}+'/'+${saison.getId()}+'/edit'" title="editer"><i
                                    class="fa fa-pencil fa-fw"></i> Éditer</a>
                            <a class="dropdown-item" th:if="${#httpServletRequest.isUserInRole('DIRECTEUR')}" th:unless="${actif}" href="#"
                               th:href="@{/saisons}+'/'+${saison.getId()}+'/activate'" title="activer"><i
                                    class="fa fa-check-circle-o fa-fw" aria-hidden="true"></i> Activer</a>
                            <a class="dropdown-item text-danger" th:if="${#httpServletRequest.isUserInRole('DIRECTEUR')} and ${actif}" href="#"
                               title="désactiver" data-toggle="modal"
                               th:attr="data-target='#desactiverSaison'+${saison.getId()}+'Modal'"><i
                                    class="fa fa-times-circle-o fa-fw"></i> Désactiver</a>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" th:id="|desactiverSaison${saison.getId()}Modal|" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <form th:action="@{/saisons}+'/'+${saison.getId()}+'/desactivate'" method="GET">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Désactiver la Saison</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir désactiver &laquo; <span
                                            th:text="'Saison '+${saison.getId()}+ ': '+${saison.getType().getNom()}"/> &raquo; ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-danger">Désactiver</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </td>
                <td class="text-center">
                    <a th:href="@{/saisons}+'/'+${saison.getId()}">
                        <span th:text="'Saison '+${saison.getId()}+ ': '+${saison.getType().getNom()}"
                              data-toggle="tooltip" data-placement="bottom" title="Gestion de la saison"></span>
                    </a>
                </td>
                <td class="text-center" th:text="${#dates.format(saison.getDateDebut(), 'dd.MM.yyyy')}"></td>
                <td class="text-center" th:text="${#dates.format(saison.getDateFin(), 'dd.MM.yyyy')}"></td>
            </tr>
            </tbody>
        </table>
        <label class="text-danger" th:if="${saisons}==null OR ${saisons.isEmpty()}">
            La base de données ne contient aucune saison.
        </label>
    </div>
    <span th:text="${erreurs}" th:style="'color:red'"/>
</th:block>
</body>
</html>