<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <title>JTV - Détails Programme</title>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/saisons}">Saisons</a></li>
            <li class="breadcrumb-item active"><span th:text="${idSaison}"/></li>
            <li class="breadcrumb-item active" aria-current="page">Programmes</li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${idSaison}">
                <i class="fa fa-columns" aria-hidden="true"></i>  Résumé</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${idSaison}+'/inscrits'">
                <i class="fa fa-address-card-o" aria-hidden="true"></i>  Inscriptions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/cours'">
                <i class="fa fa-calendar" aria-hidden="true"></i>  Cours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/concours'">
                <i class="fa fa-trophy" aria-hidden="true"></i>  Concours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <i class="fa fa-tasks" aria-hidden="true"></i>  Programmes</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/attributionarme'">
                <i class="fa fa-rebel" aria-hidden="true"></i> Attribution d'armes</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/statistique'">
                <i class="fa fa-calculator" aria-hidden="true"></i> Statistique</a>
        </li>
    </ul>

    <div class="pt-4 pt-3">
        <H1>Gestion des programmes</H1>
    </div>
    <div class="mx-auto" style="width: 95%;">
        <form method="get">
            <div class="pt-3 pb-3">
                <!--/* RA02 Peut ajouter modifier et supprimer que si la saison est encore en cours */-->
                <input th:if="${actif} and ${#httpServletRequest.isUserInRole('MONITEUR')}"
                       class="btn btn-primary contact-btn" type="submit" value="Ajouter"
                       th:unless="${saison.isSaisonFinished()}"
                       th:formaction="@{/saisons}+'/'+${idSaison}+'/programmes/add'"/>
                <input class="btn btn-outline-secondary" type="submit" value="Voir les inactifs"
                       th:formaction="'/saisons/'+${saison.getId()}+'/programmes/inactifs'"
                       th:if="${actif} and ${#httpServletRequest.isUserInRole('DIRECTEUR')}"/>
                <input class="btn btn-success" type="submit" value="Retour aux actifs"
                       th:formaction="'/saisons/'+${saison.getId()}+'/programmes'"
                       th:if="${#httpServletRequest.isUserInRole('DIRECTEUR')}" th:unless="${actif}"/>

                <span class="float-right"><th:block
                        th:include="help/help :: modalHelp('gestionProgrammes')"></th:block></span>
            </div>
        </form>

        <div class="pb-2 form-group row">
            <h5 class="col-sm-1 col-form-label">Recherche</h5>
            <div class="col-sm-11">
                <input class="form-control" id="myInput" type="text" placeholder="..."/>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" >#</th>
                <th scope="col">Nom</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr th:each="programme : ${programmes}">
                <!--/* RA02 Peut ajouter modifier et supprimer que si la saison est encore en cours */-->
                <!--/* RM02 On ne peut modifier ou supprimer un programme si il est attribué dans un cours */-->

                <td>
                    <div class="dropdown" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}" th:unless="${saison.isSaisonFinished()}">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-navicon fa-fw" aria-hidden="true"></i> Action
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#"
                               th:href="@{/saisons}+'/'+${idSaison}+'/programmes/'+${programme.getId()}+'/edit'" title="editer"><i
                                    class="fa fa-pencil fa-fw"></i> Éditer</a>
                            <a class="dropdown-item" th:if="${!programme.isActif()}" href="#"
                               th:href="@{/saisons}+'/'+${idSaison}+'/programmes/'+${programme.getId()}+'/activate'" title="activer"><i
                                    class="fa fa-check-circle-o fa-fw" aria-hidden="true"></i> Activer</a>
                            <a class="dropdown-item text-danger" th:if="${#httpServletRequest.isUserInRole('DIRECTEUR')}" th:unless="${!programme.isActif()}" href="#"
                               title="désactiver" data-toggle="modal"
                               th:attr="data-target='#desactiverProgramme'+${programme.getId()}+'Modal'"><i
                                    class="fa fa-times-circle-o fa-fw"></i> Désactiver</a>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" th:id="|desactiverProgramme${programme.getId()}Modal|" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <form th:action="@{/saisons}+'/'+${idSaison}+'/programmes/'+${programme.getId()}+'/desactivate'" method="GET">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Désactiver le programme</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir désactiver &laquo; <span
                                            th:text="'Programme '+${programme.getId()}+ ': '+${programme.getNom()}"/> &raquo; ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-danger">Désactiver</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </td>
                <td><a th:href="@{/saisons}+'/'+${idSaison}+'/programmes/'+${programme.getId()}+'/detail'"><span
                        th:text="${programme.getNom()}" data-toggle="tooltip" data-placement="bottom"
                        title="Détails du programme"/></a></td>
                <td th:text="${programme.getDesc()}"></td>
            </tr>
            </tbody>
        </table>
        <label class="text-danger" th:if="${programmes}==null OR ${programmes.isEmpty()}">
            La saison ne contient aucun programme.
        </label>
    </div>
    <span th:text="${erreurs}" th:style="'color:red'"/>
</th:block>
</body>
</html>