<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <title>Gestion des jeunes tireurs - STE Versoix Manager</title>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Jeunes tireurs</li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <div class="pt-4 pb-3">
        <H1>Gestion des jeunes tireurs</H1>
    </div>
    <div class="mx-auto" style="width: 95%;">
        <div class="pt-3 pb-3">
            <form method="get">
                <input class="btn btn-primary contact-btn" type="submit" value="Ajouter" formaction="/jeunestireurs/add" th:if="${actif}"/>
                <input class="btn btn-primary contact-btn" type="submit" value="Importer" formaction="/jeunestireurs/import" th:if="${actif}"/>
                <input class="btn btn-outline-secondary" type="submit" value="Voir les inactifs" formaction="/jeunestireurs/inactifs" th:if="${actif} and ${#httpServletRequest.isUserInRole('DIRECTEUR')}"/>
                <input class="btn btn-success" type="submit" value="Retour aux actifs" th:formaction="@{/jeunestireurs}" th:unless="${actif}"/>

                <span class="float-right"><th:block
                        th:include="help/help :: modalHelp('gestionJeunesTireurs')"></th:block></span>
            </form>
        </div>

        <div class="pb-2 form-group row">
            <h5 class="col-sm-1 col-form-label">Recherche</h5>
            <div class="col-sm-11">
                <input class="form-control" id="myInput" type="text" placeholder="..."/>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="text-center">Nom prénom</th>
                <th scope="col" class="text-center">Username</th>
                <th scope="col" class="text-center">E-Mail</th>
                <th scope="col" class="text-center">Natel</th>
                <th scope="col" class="text-center">Tel</th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr th:each="tireur : ${tireurs}">
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-navicon fa-fw" aria-hidden="true"></i> Action
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <!-- Détails -->
                            <a class="dropdown-item" th:href="@{/jeunestireurs}+'/'+${tireur.getId()}+'/details'" th:if="${actif}">
                                <i class="fa fa-address-book fa-fw"></i>Détails</a>
                            <!-- Désactiver -->
                            <a class="dropdown-item text-danger" href="#"
                               title="désactiver" data-toggle="modal" th:if="${actif} and ${#httpServletRequest.isUserInRole('DIRECTEUR')}"
                               th:attr="data-target='#desactiverJeune'+${tireur.getId()}+'Modal'">
                                <i class="fa fa-times-circle-o fa-fw"></i>Désactiver</a>
                            <!-- Activer -->
                            <a class="dropdown-item" href="#" th:unless="${actif}"
                               title="activer" data-toggle="modal"
                               th:attr="data-target='#activerJeune'+${tireur.getId()}+'Modal'"><i
                                    class="fa fa-check-circle-o fa-fw" aria-hidden="true"></i>Activer</a>
                            <!-- Changer mdp -->
                            <a class="dropdown-item" href="#" th:if="${actif} and (${#httpServletRequest.isUserInRole('MONITEUR')} or ${tireur.getId()}==${user.getId()})"
                               title="changer mot de passe" data-toggle="modal"
                               th:attr="data-target='#changerMdp'+${tireur.getId()}+'Modal'">
                                <i class="fa fa-repeat fa-fw" aria-hidden="true"></i>Changer mot de passe</a>
                        </div>
                    </div>
                    <!-- Modal desactiver jeune-->
                    <div class="modal fade" th:id="|desactiverJeune${tireur.getId()}Modal|" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <form th:action="|@{/jeunestireurs}/${tireur.getId()}/desactivate|" method="get">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Désactiver le JT</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir désactiver &laquo; <span
                                            th:text="'JT '+${tireur.getId()}+ ': '+${tireur.getNom()} + ' '+ ${tireur.getPrenom()}"/> &raquo; ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-danger">Désactiver</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Modal activer jeune-->
                    <div class="modal fade" th:id="|activerJeune${tireur.getId()}Modal|" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <form th:action="|@{/jeunestireurs}/${tireur.getId()}/activate|" method="get">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Activer le JT</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir activer &laquo; <span
                                            th:text="'JT '+${tireur.getId()}+ ': '+${tireur.getNom()} + ' '+ ${tireur.getPrenom()}"/> &raquo; ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-danger">Activer</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Modal changer mdp-->
                    <div class="modal fade" th:id="|changerMdp${tireur.getId()}Modal|" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <form th:object="${mdp}" th:action="|@{/jeunestireurs}/${tireur.getId()}/updateDroit|" method="post">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Changer le mot de passe</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">Nouveau mot de passe  </label>
                                            <div class="col-sm-5">
                                                <input th:id="|newPwd${tireur.getId()}|" class="form-control" type="password" th:field="*{newPassword}" />
                                            </div>
                                            <!-- GD 02 – Mot de passe -->
                                            <div class="col-sm-1">
                                                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" th:title="'Le mot de passe doit avoir au moins 8 caractères dont au moins 1 majuscule, 1 minuscule et 1 chiffre.'">
                                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-5 col-form-label">Confirmer mot de passe </label>
                                            <div class="col-sm-7">
                                                <input th:id="|reNewPwd${tireur.getId()}|" class="form-control" type="password" th:field="*{reNewPassword}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-danger">Changer mot de passe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    <a th:href="@{/jeunestireurs}+'/'+${tireur.getId()}+'/details'">
                        <span th:text="${tireur.getFullName()}" data-toggle="tooltip"
                              data-placement="bottom" title="Détails du jeune tireur"></span>
                    </a>
                </td>
                <td class="text-center" th:text="${tireur.getUsername()}"></td>
                <td class="text-center" th:text="${tireur.getEmail()}"></td>
                <td class="text-center" th:text="${tireur.getNumNatel()}"></td>
                <td class="text-center" th:text="${tireur.getNumTelephone()}"></td>
            </tr>
            </tbody>
        </table>
        <label class="text-danger" th:if="${tireurs}==null OR ${tireurs.isEmpty()}">
           La base de données ne contient aucun jeune tireur.
        </label>
   </div>
</th:block>
</body>
</html>