<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Gestion des cours - STE Versoix Manager</title>
</head>
<body>
<th:block layout:fragment="breadcrump">
    <nav id="breadcrump" aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/saisons}">Saisons</a></li>
            <!--<li class="breadcrumb-item"><a th:href="@{/saisons}+'/'+${saison.getId()}">inscriptions</a></li>-->
            <li class="breadcrumb-item active"><span th:text="${saison.getId()}"/></li>
            <li class="breadcrumb-item active" aria-current="page">cours</li>
        </ol>
    </nav>
</th:block>
<th:block layout:fragment="content">
    <ul id="tabs" class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}">
                <i class="fa fa-columns" aria-hidden="true"></i>  Résumé</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/inscrits'">
                <i class="fa fa-address-card-o" aria-hidden="true"></i>  Inscriptions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <i class="fa fa-calendar" aria-hidden="true"></i>  Cours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/concours'">
                <i class="fa fa-trophy" aria-hidden="true"></i>  Concours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/programmes'">
                <i class="fa fa-tasks" aria-hidden="true"></i>  Programmes</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/attributionarme'">
                <i class="fa fa-rebel" aria-hidden="true"></i> Attribution d'armes</a>
        </li>
        <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}">
            <a class="nav-link" th:href="'/saisons/'+${saison.getId()}+'/statistique'">
                <i class="fa fa-calculator" aria-hidden="true"></i> Statistique</a>
        </li>
    </ul>

    <div class="pt-4 pt-3">
        <H1>Gestion des cours</H1>
    </div>
    <div class="mx-auto" style="width: 95%;">
        <form method="get">
            <div class="pt-3 pb-3">
                <input class="btn btn-primary contact-btn" type="submit" value="Ajouter"
                       th:formaction="'/saisons/'+${saison.getId()}+'/cours/add'"
                       th:if="${actif} and ${#httpServletRequest.isUserInRole('MONITEUR')}"
                       th:unless="${saison.isSaisonFinished()}"/>
                <input class="btn btn-outline-secondary" type="submit" value="Voir les inactifs"
                       th:formaction="'/saisons/'+${saison.getId()}+'/cours/inactifs'"
                       th:if="${actif} and ${#httpServletRequest.isUserInRole('DIRECTEUR')}"/>
                <input class="btn btn-success" type="submit" value="Retour aux actifs"
                       th:formaction="'/saisons/'+${saison.getId()}+'/cours'"
                       th:if="${#httpServletRequest.isUserInRole('DIRECTEUR')}" th:unless="${actif}"/>

                <span class="float-right">
                    <button class="btn btn-outline-primary contact-btn float-right pr-2" type="submit" id="btnimprimer">
                    <i class="fa fa-print" aria-hidden="true"></i></button>
                    <th:block
                        th:include="help/help :: modalHelp('gestionCours')"></th:block>

                </span>


            </div>
        </form>

        <div class="pb-2 form-group row" id="dont-print">
            <h5 class="col-sm-1 col-form-label">Recherche</h5>
            <div class="col-sm-11">
                <input class="form-control" id="myInput" type="text" placeholder="..."/>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th class="text-center" scope="col">Nom</th>
                    <th class="text-center" scope="col">Date</th>
                    <th class="text-center" scope="col">Heure Début</th>
                    <th class="text-center" scope="col">Heure Fin</th>
                    <th class="text-center" scope="col">Pause</th>
                    <th class="text-center" scope="col">Nettoyage</th>
                </tr>
            </thead>
            <tbody id="myTable">
            <tr th:each="co : ${cours}">
                <td>
                    <div class="dropdown" th:unless="${saison.isSaisonFinished()}">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-navicon fa-fw" aria-hidden="true"></i> Action
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" th:if="${co.isCoursEditable()} and ${#httpServletRequest.isUserInRole('MONITEUR')} and ${actif}"
                               th:href="'/saisons/'+${saison.getId()}+'/cours/'+${co.getId()}+'/edit'"><i
                                    class="fa fa-pencil fa-fw"></i>Éditer</a>
                            <a class="dropdown-item" th:if="${co.isCoursEditable()} and ${actif}"
                               th:href="'/saisons/'+${saison.getId()}+'/cours/'+${co.getId()}+'/prevenirabsence'">
                                <i class="fa fa-bed fa-fw"></i>
                                Prevenir d'une absence
                            </a>
                            <a class="dropdown-item text-danger" th:if="${actif} and ${#httpServletRequest.isUserInRole('DIRECTEUR')}" th:unless="${co.isCoursFinished()}" href="#"
                               title="désactiver" data-toggle="modal"
                               th:attr="data-target='#desactiverCours'+${co.getId()}+'Modal'"><i
                                    class="fa fa-times-circle-o fa-fw"></i> Désactiver</a>
                            <!-- RS 01 -->
                            <a class="dropdown-item" th:if="${#httpServletRequest.isUserInRole('MONITEUR')} and ${co.isCoursFinished()}==false" th:unless="${actif}" href="#"
                                title="activer" data-toggle="modal"
                                th:attr="data-target='#activerCours'+${co.getId()}+'Modal'"><i
                                    class="fa fa-check-circle-o fa-fw"></i>Activer</a>
                        </div>
                    </div>
                    <!-- Modal désactiver-->
                    <div class="modal fade" th:id="|desactiverCours${co.getId()}Modal|" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <form th:action="@{/saisons}+'/'+${saison.getId()}+'/'+@{/cours}+'/'+${co.getId()}+'/desactivate'" method="GET">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Désactiver le Cours</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir désactiver &laquo; <span
                                            th:text="'Cours '+${co.getId()}+ ': '+${#dates.format(co.getDateCours(), 'dd.MM.yyyy')}"/> &raquo; ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-danger">Désactiver</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Modal activer -->
                    <div class="modal fade" th:id="|activerCours${co.getId()}Modal|" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <form th:action="@{/saisons}+'/'+${saison.getId()}+'/'+@{/cours}+'/'+${co.getId()}+'/activate'" method="GET">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Activer le Cours</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir activer &laquo; <span
                                            th:text="'Cours '+${co.getId()}+ ': '+${#dates.format(co.getDateCours(), 'dd.MM.yyyy')}"/> &raquo; ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-succes">Activer</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    <a th:href="'/saisons/'+${saison.getId()}+'/cours/'+${co.getId()}">
                        <span th:text="${co.getNom()}" data-toggle="tooltip" data-placement="bottom"
                              title="Gestion du cours"></span>
                    </a>
                </td>
                <td class="text-center" th:text="${#dates.format(co.getDateCours(), 'dd.MM.yyyy')}"></td>
                <td class="text-center" th:text="${#dates.format(co.getHeureDebut(), 'HH:mm')}"></td>
                <td class="text-center" th:text="${#dates.format(co.getHeureFin(), 'HH:mm')}"></td>
                <td class="text-center" th:text="${co.getTempsPause()}+'\''"></td>
                <td class="text-center" th:text="${co.getTempsNettoyage()}+'\''"></td>
            </tr>
            </tbody>
        </table>
        <label class="text-danger" th:if="${cours}==null OR ${cours.isEmpty()}">
            La saison n'a pas de cours enregistré.
        </label>
    </div>
    <div>
        <span th:text="${erreurs}" th:style="'color:red'"/>
    </div>
</th:block>
</body>
</html>