<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
    <head>
        <meta charset="UTF-8"/>
        <title>Gestion des armes - STE Versoix Manager</title>
    </head>
    <body>
        <th:block layout:fragment="breadcrump">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Armes</li>
                </ol>
            </nav>
        </th:block>
        <th:block layout:fragment="content">
            <div class="pt-4 pb-3">
                <H1>Gestion des armes</H1>
            </div>
            <div class="mx-auto" style="width: 95%;">
                <div class="pt-3 pb-3">
                    <form method="get">
                        <input class="btn btn-primary contact-btn" type="submit" value="Ajouter"
                               th:formaction="@{/armes}+'/add'" th:if="${actif}"/>
                        <input class="btn btn-outline-secondary" type="submit" value="Voir les inactifs"
                               th:formaction="@{/armes}+'/inactifs'"
                               th:if="${actif} and ${#httpServletRequest.isUserInRole('DIRECTEUR')}"/>
                        <input class="btn btn-success" type="submit" value="Retour aux actifs" th:formaction="@{/armes}"
                               th:unless="${actif}"/>

                        <span class="float-right"><th:block
                                th:include="help/help :: modalHelp('gestionArmes')"></th:block></span>
                    </form>
                </div>
                <div class="pb-2 form-group row">
                    <h5 class="col-sm-1 col-form-label">Recherche</h5>
                    <div class="col-sm-11">
                        <input class="form-control" id="myInput" type="text" placeholder="..."/>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Numéro</th>
                            <th scope="col">Type d'arme</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <tr th:each="arme : ${armes}">
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-navicon fa-fw" aria-hidden="true"></i> Action
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" th:href="@{/armes}+'/'+${arme.getId()}+'/edit'" th:if="${actif}"><i class="fa fa-pencil fa-fw"></i> Éditer</a>
                                        <a class="dropdown-item text-danger" href="#" th:if="${actif} and ${#httpServletRequest.isUserInRole('DIRECTEUR')}" data-toggle="modal" th:attr="data-target='#desactiverArme'+${arme.getId()}+'Modal'"><i class="fa fa-times-circle-o fa-fw"></i>Désactiver</a>
                                        <a class="dropdown-item" href="#" th:unless="${actif}" data-toggle="modal" th:attr="data-target='#activerArme'+${arme.getId()}+'Modal'"><i class="fa fa-check-circle-o fa-fw" aria-hidden="true"></i>Activer</a>
                                    </div>
                                </div>
                                <!-- Modal desactiver arme-->
                                <div class="modal fade" th:id="|desactiverArme${arme.getId()}Modal|" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <form th:action="|armes/${arme.getId()}/desactivate|" method="get">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Désactiver l'arme</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Êtes-vous sûr de vouloir désactiver &laquo; <span
                                                        th:text="'Arme '+${arme.getId()}+ ': '+${arme.getType().getNom()}"/> &raquo; ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                    <button type="submit" class="btn btn-danger">Désactiver</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- Modal activer jeune-->
                                <div class="modal fade" th:id="|activerArme${arme.getId()}Modal|" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <form th:action="|@{/armes}/${arme.getId()}/activate|" method="get">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Activer l'arme</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Êtes-vous sûr de vouloir activer &laquo; <span
                                                        th:text="'Arme '+${arme.getId()}+ ': '+${arme.getType().getNom()}"/> &raquo; ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                    <button type="submit" class="btn btn-danger">Activer</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </td>
                            <td th:text="${arme.getId()}"></td>
                            <td th:text="${arme.getType().getNom()}"></td>
                        </tr>
                    </tbody>
                </table>
                <label class="text-danger" th:if="${armes}==null OR ${armes.isEmpty()}">
                    La base de données ne contient aucune arme.
                </label>
            </div>
            <span th:text="${erreurs}" th:style="'color:red'" />
        </th:block>
    </body>
</html>