<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
                              xmlns:th="http://www.thymeleaf.org"
                              xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
                              xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                              layout:decorator="layouts/layout">
    <head>
        <title>Accueil - STE Versoix Manager</title>
    </head>
    <body>
    <th:block layout:fragment="breadcrump">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
        </nav>
    </th:block>
        <th:block layout:fragment="content">
        <!--Home page style-->
        <header id="home" class="home">

            <div class="container">

                <div class="row">

                    <div class="col-md-6 col-md-offset-6 col-sm-12 col-xs-12">
                        <div class="home-content sections">
                            <h1 th:text="|Hello, ${user.getPrenom()} ${user.getNom()} !|" />
                        </div>
                    </div>
                </div>

            </div>

        </header>
        </th:block>
    </body>
</html>
