<!doctype html>
<html class="no-js" lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <meta charset="UTF-8" />
    <title>JTV - Détails du programme</title>
</head>
<body>
    <th:block layout:fragment="breadcrump">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item"><a th:href="@{/saisons}">Saisons</a></li>
                <li class="breadcrumb-item active"><span th:text="${saison.getId()}"/></li>
                <li class="breadcrumb-item"><a th:href="@{/saisons}+'/'+${saison.getId()}+'/programmes'">Programmes</a></li>
                <!--<li class="breadcrumb-item active" aria-current="page">Ajouter</li>-->
            </ol>
        </nav>
    </th:block>
    <th:block layout:fragment="content">
        <div class="container pt-3 pb-3">
            <form th:object="${programme}" id="programmeForm">
                <div class="pt-3">
                    <h1>Détails du programme</h1>
                </div>
                <div class="text-right pb-3" th:if="${#httpServletRequest.isUserInRole('MONITEUR')}" th:unless="${saison.isSaisonFinished()}">
                    <a class="btn btn-primary contact-btn" type="submit" th:href="@{/saisons}+'/'+${idSaison}+'/programmes/'+${programme.getId()}+'/edit'">
                        <i class="fa fa-edit" aria-hidden="true"></i>  Modifier</a>
                </div>
                <div class="pb-3">
                    <div class="form-group row mb-0">
                        <label class="col-sm-2">Nom</label>
                        <div class="col-sm-10">
                            <span th:text="${programme?.getNom()}"/>
                        </div>
                    </div>

                    <div class="form-group row mt-0">
                        <label class="col-sm-2">Description</label>
                        <div class="col-sm-10">
                            <span th:text="${programme?.getDesc()}"/>
                        </div>
                    </div>
                </div>
                <div class="border rounded mb-3 pt-2 pb-2 pl-3 pr-3">
                    <div class="pb-2">
                        <h5>Passes</h5>
                    </div>
                    <table class="table table-striped" id="tabPasse">
                        <thead>
                            <tr>
                                <th scope="col">Ordre</th>
                                <th scope="col" class="text-center">Cible</th>
                                <th scope="col" class="text-center">Type de coups</th>
                                <th scope="col" class="text-center">Sequence</th>
                                <th scope="col" class="text-center">Nombre de coups</th>
                            </tr>
                        </thead>
                        <tbody id="passesContainer">
                        <div th:each="pas,status : ${programme.passes}">
                            <tr class="passetoadd">
                                <td>
                                    <span th:text="*{passes[__${status.index}__].ordre}"/>
                                </td>
                                <td class="text-center">
                                    <span th:text="*{passes[__${status.index}__].cible.nom}" />
                                </td>
                                <td class="text-center">
                                    <span th:text="*{passes[__${status.index}__].typeCoup}" />
                                </td>
                                <td class="text-center">
                                    <span th:text="*{passes[__${status.index}__].sequence}" />
                                </td>
                                <td class="text-center">
                                    <span th:text="*{passes[__${status.index}__].nbcoups}" />
                                </td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                    <label class="text-danger" th:if="${programme.passes}==null OR ${programme.passes.isEmpty()}">
                        Ce programme ne possède aucune passe.
                    </label>
                </div>
            </form>
        </div>
    </th:block>
</body>
</html>