<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="" xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:th="http://www.thymeleaf.org"
                             xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
                             xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                             layout:decorator="layouts/layout"> <!--<![endif]-->
    <head>
        <title>Saisons - STE Versoix Manager</title>
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- Sections -->
            <section id="features" class="sections lightbg">
                <div class="container text-center">

                    <div class="heading-content">
                        <h3>Choix d'une saison</h3>
                        <h5>Sélectionnez une saison pour consulter ses données</h5>
                    </div>

                    <!-- Example row of columns -->
                    <div class="row">

                        <div class="col-md-3 col-sm-6 col-xs-12" th:each="saison : ${saisons}">
                            <a th:href="@{/saison}+'/'+${saison.getId()}+'/cours'">
                            <div class="features-content">
                                <img th:src="@{/assets/images/calendrierB32.png}" />
                                <!--<i class="fa fa-bookmark-o"></i>-->
                                <h5 th:text="'Saison '+${saison.getId()}+ ': '+${saison.getType().getNom()}" />
                                <p>
                                    Début: <th:block th:text="${#dates.format(saison.getDateDebut(), 'dd.MM.yyyy')}" /><br />
                                    Fin: <th:block th:text="${#dates.format(saison.getDateFin(), 'dd.MM.yyyy')}" />
                                </p>
                            </div>
                            </a>
                        </div>

                    </div>
                </div> <!-- /container -->
            </section>
        </th:block>
    </body>
</html>
